<div class="single-sidebar">
    <div class="section-title">
        <h3><a href="#">Categories</a></h3>
    </div>
    <div class="site-category">
        <ul>
            <li><a href="#">World Politics</a> <span>52</span></li>
            <li><a href="#">Sports</a> <span>15</span></li>
            <li><a href="#">Technology</a> <span>48</span></li>
            <li><a href="#">Science</a> <span>36</span></li>
            <li><a href="#">History</a> <span>54</span></li>
            <li><a href="#">Globalization</a> <span>32</span></li>
            <li><a href="#">Reviews</a> <span>15</span></li>
            <li><a href="#">artificial intelligence</a> <span>52</span></li>
            <li><a href="#">Fashion</a> <span>58</span></li>
            <li><a href="#">Showbiz</a> <span>25</span></li>
            <li><a href="#">Entertaiment</a> <span>96</span></li>
        </ul>
    </div>
</div>
