<div class="single-sidebar">
    <div class="section-title">
        <h3><a href="#">Lastest News</a></h3>
    </div>
    <div class="sidebar-content">
        <ul class="nav nav-pills mb-3" id="pills-tab3" role="tablist">
            <li>
                <a class="active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">Sports</a>
            </li>
            <li>
                <a id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">Fashion</a>
            </li>
            <li>
                <a id="pills-contact-tab" data-toggle="pill" href="#pills-contact" role="tab" aria-controls="pills-contact" aria-selected="false">News</a>
            </li>
        </ul>
        <div class="tab-content" id="pills-tabContent3">
            <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
                <div class="single-list-post">
                    <div class="list-post-img">
                        <a href="#"><img src="~/Public/images/post/9.jpg" alt=""></a>
                    </div>
                    <div class="list-post-content">
                        <a href="#" class="cl-mint">Stadium</a>
                        <h4><a href="#">See the live on the field the live on the</a></h4>
                        <div class="post-date">September 4, 2019</div>
                    </div>
                </div>
                <div class="single-list-post">
                    <div class="list-post-img">
                        <a href="#"><img src="~/Public/images/post/8.jpg" alt=""></a>
                    </div>
                    <div class="list-post-content">
                        <a href="#" class="cl-green">Athletes</a>
                        <h4><a href="#">See the live on the field the live on the</a></h4>
                        <div class="post-date">September 4, 2019</div>
                    </div>
                </div>
                <div class="single-list-post">
                    <div class="list-post-img">
                        <a href="#"><img src="~/Public/images/post/7.jpg" alt=""></a>
                    </div>
                    <div class="list-post-content">
                        <a href="#" class="cl-primary">Football</a>
                        <h4><a href="#">See the live on the field the live on the</a></h4>
                        <div class="post-date">September 4, 2019</div>
                    </div>
                </div>
                <div class="single-list-post">
                    <div class="list-post-img">
                        <a href="#"><img src="~/Public/images/post/6.jpg" alt=""></a>
                    </div>
                    <div class="list-post-content">
                        <a href="#" class="cl-blue">Football</a>
                        <h4><a href="#">See the live on the field the live on the</a></h4>
                        <div class="post-date">September 4, 2019</div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
                <div class="single-list-post">
                    <div class="list-post-img">
                        <a href="#"><img src="~/Public/images/post/1.jpg" alt=""></a>
                    </div>
                    <div class="list-post-content">
                        <a href="#" class="cl-green">Model</a>
                        <h4><a href="#">See the live on the field the live on the</a></h4>
                        <div class="post-date">September 4, 2019</div>
                    </div>
                </div>
                <div class="single-list-post">
                    <div class="list-post-img">
                        <a href="#"><img src="~/Public/images/post/2.jpg" alt=""></a>
                    </div>
                    <div class="list-post-content">
                        <a href="#" class="cl-mint">Dresses</a>
                        <h4><a href="#">See the live on the field the live on the</a></h4>
                        <div class="post-date">September 4, 2019</div>
                    </div>
                </div>
                <div class="single-list-post">
                    <div class="list-post-img">
                        <a href="#"><img src="~/Public/images/post/3.jpg" alt=""></a>
                    </div>
                    <div class="list-post-content">
                        <a href="#" class="cl-blue">Fashion</a>
                        <h4><a href="#">See the live on the field the live on the</a></h4>
                        <div class="post-date">September 4, 2019</div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">
                <div class="single-list-post">
                    <div class="list-post-img">
                        <a href="#"><img src="~/Public/images/post/4.jpg" alt=""></a>
                    </div>
                    <div class="list-post-content">
                        <a href="#" class="cl-mint">International</a>
                        <h4><a href="#">See the live on the field the live on the</a></h4>
                        <div class="post-date">September 4, 2019</div>
                    </div>
                </div>
                <div class="single-list-post">
                    <div class="list-post-img">
                        <a href="#"><img src="~/Public/images/post/5.jpg" alt=""></a>
                    </div>
                    <div class="list-post-content">
                        <a href="#" class="cl-primary">Politics</a>
                        <h4><a href="#">See the live on the field the live on the</a></h4>
                        <div class="post-date">September 4, 2019</div>
                    </div>
                </div>
                <div class="single-list-post">
                    <div class="list-post-img">
                        <a href="#"><img src="~/Public/images/post/6.jpg" alt=""></a>
                    </div>
                    <div class="list-post-content">
                        <a href="#" class="cl-blue">Near by</a>
                        <h4><a href="#">See the live on the field the live on the</a></h4>
                        <div class="post-date">September 4, 2019</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
