<!--Breadcrumb-->
<section class="breadcrumb-section gray-bg-2">
    <div class="container">
        <div class="row">
            <div class="col">
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Category</a></li>
                    <li>Fashion</li>
                </ul>
                <div class="banner-title">
                    <h2>Fashion</h2>
                </div>
            </div>
        </div>
    </div>
</section><!--/Breadcrumb-->
<!--Content Section-->
<section class="section-padding-2">
    <div class="container">
        <div class="row">
            <div class="col-xl-8 col-lg-8 col-md-6 col-sm-6">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="row single-post-2">
                            <div class="col-xl-6">
                                <a href="#"><img src="~/Public/images/category/fashion/1.jpg" alt=""></a>
                            </div>
                            <div class="col-xl-6">
                                <div class="post-inside-content">
                                    <div class="category-tag"><a href="#" class="primary-bg">Model</a></div>
                                    <h2><a href="#">Impressive business got raised</a></h2>
                                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cumque incidunt blanditiis non culpa accusantium quia corrupti</p>
                                    <div class="post-meta">
                                        <a href="#" class="author">Ridoy</a>
                                        <a href="#" class="date">September 4, 2019</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row single-post-2">
                            <div class="col-xl-6">
                                <a href="#"><img src="~/Public/images/category/fashion/2.jpg" alt=""></a>
                            </div>
                            <div class="col-xl-6">
                                <div class="post-inside-content">
                                    <div class="category-tag"><a href="#" class="green-bg">Fashion</a></div>
                                    <h2><a href="#">Impressive business got raised</a></h2>
                                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cumque incidunt blanditiis non culpa accusantium quia corrupti</p>
                                    <div class="post-meta">
                                        <a href="#" class="author">Ridoy</a>
                                        <a href="#" class="date">September 4, 2019</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row single-post-2">
                            <div class="col-xl-6">
                                <a href="#"><img src="~/Public/images/category/fashion/3.jpg" alt=""></a>
                            </div>
                            <div class="col-xl-6">
                                <div class="post-inside-content">
                                    <div class="category-tag"><a href="#" class="blue-bg">Shoes</a></div>
                                    <h2><a href="#">Impressive business got raised</a></h2>
                                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cumque incidunt blanditiis non culpa accusantium quia corrupti</p>
                                    <div class="post-meta">
                                        <a href="#" class="author">Ridoy</a>
                                        <a href="#" class="date">September 4, 2019</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row single-post-2">
                            <div class="col-xl-6">
                                <a href="#"><img src="~/Public/images/category/fashion/4.jpg" alt=""></a>
                            </div>
                            <div class="col-xl-6">
                                <div class="post-inside-content">
                                    <div class="category-tag"><a href="#" class="yellow-bg">Model</a></div>
                                    <h2><a href="#">Impressive business got raised</a></h2>
                                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cumque incidunt blanditiis non culpa accusantium quia corrupti</p>
                                    <div class="post-meta">
                                        <a href="#" class="author">Ridoy</a>
                                        <a href="#" class="date">September 4, 2019</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row single-post-2">
                            <div class="col-xl-6">
                                <a href="#"><img src="~/Public/images/category/fashion/5.jpg" alt=""></a>
                            </div>
                            <div class="col-xl-6">
                                <div class="post-inside-content">
                                    <div class="category-tag"><a href="#" class="mint-bg">Fashion</a></div>
                                    <h2><a href="#">Impressive business got raised</a></h2>
                                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cumque incidunt blanditiis non culpa accusantium quia corrupti</p>
                                    <div class="post-meta">
                                        <a href="#" class="author">Ridoy</a>
                                        <a href="#" class="date">September 4, 2019</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row single-post-2">
                            <div class="col-xl-6">
                                <a href="#"><img src="~/Public/images/category/fashion/6.jpg" alt=""></a>
                            </div>
                            <div class="col-xl-6">
                                <div class="post-inside-content">
                                    <div class="category-tag"><a href="#" class="primary-bg">Shopping</a></div>
                                    <h2><a href="#">Impressive business got raised</a></h2>
                                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cumque incidunt blanditiis non culpa accusantium quia corrupti</p>
                                    <div class="post-meta">
                                        <a href="#" class="author">Ridoy</a>
                                        <a href="#" class="date">September 4, 2019</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row single-post-2">
                            <div class="col-xl-6">
                                <a href="#"><img src="~/Public/images/category/fashion/7.jpg" alt=""></a>
                            </div>
                            <div class="col-xl-6">
                                <div class="post-inside-content">
                                    <div class="category-tag"><a href="#" class="blue-bg">Model</a></div>
                                    <h2><a href="#">Impressive business got raised</a></h2>
                                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cumque incidunt blanditiis non culpa accusantium quia corrupti</p>
                                    <div class="post-meta">
                                        <a href="#" class="author">Ridoy</a>
                                        <a href="#" class="date">September 4, 2019</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row single-post-2">
                            <div class="col-xl-12">
                                <a href="#" class="bttn-mid btn-fill w-100 centered">Load More</a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">
                <aside class="site-sidebar">
                    @{
                        Html.RenderPartial("~/Views/Shared/_QuikLink.cshtml");
                    }
                    @{
                        Html.RenderPartial("~/Views/Shared/_Lastest.cshtml");
                    }
                    @{
                        Html.RenderPartial("~/Views/Shared/_Categories.cshtml");
                    }

                    @{
                        Html.RenderPartial("~/Views/Shared/_sociallink.cshtml");
                    }
                </aside>
            </div>
        </div>
    </div>
</section><!--/Content Section-->
<!--Content Section-->
<section class="section-padding-2 gray-bg">
    <div class="container">

        @{
            Html.RenderPartial("~/Views/Shared/_Slider.cshtml");
        }
    </div>
</section><!--/Content Section-->