<!--Breadcrumb-->
<section class="breadcrumb-section gray-bg-2">
    <div class="container">
        <div class="row">
            <div class="col">
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Category</a></li>
                    <li>Food</li>
                </ul>
                <div class="banner-title">
                    <h2>Food</h2>
                </div>
            </div>
        </div>
    </div>
</section><!--/Breadcrumb-->
<!--Content Section-->
<section class="section-padding-2">
    <div class="container">
        <div class="row">
            <div class="col-xl-8 col-lg-8 col-md-8 col-sm-12">
                <div class="row">
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                        <div class="single-post-4">
                            <div class="post-inside-img">
                                <img src="~/Public/images/category/food/1.jpg" alt="">
                                <div class="category-tag">
                                    <a href="#" class="mint-bg">Meat</a>
                                </div>
                            </div>
                            <div class="post-inside-content">
                                <h3><a href="#">Finibus Bonorum et Malorum</a></h3>
                                <p>The point of using Lorem Ipsum is that it has a more-or-less normal Many desktop publishing packages and web page</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                        <div class="single-post-4">
                            <div class="post-inside-img">
                                <img src="~/Public/images/category/food/2.jpg" alt="">
                                <div class="category-tag">
                                    <a href="#" class="blue-bg-2">Beef</a>
                                </div>
                            </div>
                            <div class="post-inside-content">
                                <h3><a href="#">Finibus Bonorum et Malorum</a></h3>
                                <p>The point of using Lorem Ipsum is that it has a more-or-less normal Many desktop publishing packages and web page</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                        <div class="single-post-4">
                            <div class="post-inside-img">
                                <img src="~/Public/images/category/food/3.jpg" alt="">
                                <div class="category-tag">
                                    <a href="#" class="yellow-bg">Chicken</a>
                                </div>
                            </div>
                            <div class="post-inside-content">
                                <h3><a href="#">Finibus Bonorum et Malorum</a></h3>
                                <p>The point of using Lorem Ipsum is that it has a more-or-less normal Many desktop publishing packages and web page</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                        <div class="single-post-4">
                            <div class="post-inside-img">
                                <img src="~/Public/images/category/food/4.jpg" alt="">
                                <div class="category-tag">
                                    <a href="#" class="green-bg">Fish</a>
                                </div>
                            </div>
                            <div class="post-inside-content">
                                <h3><a href="#">Finibus Bonorum et Malorum</a></h3>
                                <p>The point of using Lorem Ipsum is that it has a more-or-less normal Many desktop publishing packages and web page</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                        <div class="single-post-4">
                            <div class="post-inside-img">
                                <img src="~/Public/images/category/food/5.jpg" alt="">
                                <div class="category-tag">
                                    <a href="#" class="mint-bg">Pizza</a>
                                </div>
                            </div>
                            <div class="post-inside-content">
                                <h3><a href="#">Finibus Bonorum et Malorum</a></h3>
                                <p>The point of using Lorem Ipsum is that it has a more-or-less normal Many desktop publishing packages and web page</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                        <div class="single-post-4">
                            <div class="post-inside-img">
                                <img src="~/Public/images/category/food/6.jpg" alt="">
                                <div class="category-tag">
                                    <a href="#" class="blue-bg">Burger</a>
                                </div>
                            </div>
                            <div class="post-inside-content">
                                <h3><a href="#">Finibus Bonorum et Malorum</a></h3>
                                <p>The point of using Lorem Ipsum is that it has a more-or-less normal Many desktop publishing packages and web page</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                        <div class="single-post-4">
                            <div class="post-inside-img">
                                <img src="~/Public/images/category/food/7.jpg" alt="">
                                <div class="category-tag">
                                    <a href="#" class="yellow-bg">Egg</a>
                                </div>
                            </div>
                            <div class="post-inside-content">
                                <h3><a href="#">Finibus Bonorum et Malorum</a></h3>
                                <p>The point of using Lorem Ipsum is that it has a more-or-less normal Many desktop publishing packages and web page</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                        <div class="single-post-4">
                            <div class="post-inside-img">
                                <img src="~/Public/images/category/food/8.jpg" alt="">
                                <div class="category-tag">
                                    <a href="#" class="primary-bg">Fruit</a>
                                </div>
                            </div>
                            <div class="post-inside-content">
                                <h3><a href="#">Finibus Bonorum et Malorum</a></h3>
                                <p>The point of using Lorem Ipsum is that it has a more-or-less normal Many desktop publishing packages and web page</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                        <a href="#" class="bttn-mid btn-emt w-100 centered mb-30">Load More</a>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
                <aside class="site-sidebar">
                    @{
                        Html.RenderPartial("~/Views/Shared/_QuikLink.cshtml");
                    }
                    @{
                        Html.RenderPartial("~/Views/Shared/_Lastest.cshtml");
                    }
                    @{
                        Html.RenderPartial("~/Views/Shared/_Categories.cshtml");
                    }
                </aside>
            </div>
        </div>
    </div>
</section><!--/Content Section-->
<!--Content Section-->
<section class="section-padding-2 gray-bg">
    <div class="container">

        @{
            Html.RenderPartial("~/Views/Shared/_Slider.cshtml");
        }
    </div>
</section><!--/Content Section-->