 <!--Breadcrumb-->
<section class="breadcrumb-section gray-bg-2">
    <div class="container">
        <div class="row">
            <div class="col">
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Category</a></li>
                    <li>Sports</li>
                </ul>
                <div class="banner-title">
                    <h2>Sports</h2>
                </div>
            </div>
        </div>
    </div>
</section><!--/Breadcrumb-->
<!--Content Section-->
<section class="section-padding-2">
    <div class="container">
        <div class="row">
            <div class="col-xl-8 col-lg-8 col-md-6 col-sm-6">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="row single-post-2">
                            <div class="col-xl-6">
                                <a href="#"><img src="~/Public/images/category/sports/1.jpg" alt=""></a>
                            </div>
                            <div class="col-xl-6">
                                <div class="post-inside-content">
                                    <div class="category-tag"><a href="#" class="primary-bg">Sports</a></div>
                                    <h2><a href="#">Unknown printer took a galley of type</a></h2>
                                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cumque incidunt blanditiis non culpa accusantium quia corrupti</p>
                                    <div class="post-meta">
                                        <a href="#" class="author">Ridoy</a>
                                        <a href="#" class="date">September 4, 2019</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row single-post-2">
                            <div class="col-xl-6">
                                <a href="#"><img src="~/Public/images/category/sports/2.jpg" alt=""></a>
                            </div>
                            <div class="col-xl-6">
                                <div class="post-inside-content">
                                    <div class="category-tag"><a href="#" class="green-bg">Football</a></div>
                                    <h2><a href="#">Established fact that a reader</a></h2>
                                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cumque incidunt blanditiis non culpa accusantium quia corrupti</p>
                                    <div class="post-meta">
                                        <a href="#" class="author">Ridoy</a>
                                        <a href="#" class="date">September 4, 2019</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row single-post-2">
                            <div class="col-xl-6">
                                <a href="#"><img src="~/Public/images/category/sports/3.jpg" alt=""></a>
                            </div>
                            <div class="col-xl-6">
                                <div class="post-inside-content">
                                    <div class="category-tag"><a href="#" class="blue-bg">Sports</a></div>
                                    <h2><a href="#">There are many variations of passages</a></h2>
                                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cumque incidunt blanditiis non culpa accusantium quia corrupti</p>
                                    <div class="post-meta">
                                        <a href="#" class="author">Ridoy</a>
                                        <a href="#" class="date">September 4, 2019</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row single-post-2">
                            <div class="col-xl-6">
                                <a href="#"><img src="~/Public/images/category/sports/4.jpg" alt=""></a>
                            </div>
                            <div class="col-xl-6">
                                <div class="post-inside-content">
                                    <div class="category-tag"><a href="#" class="yellow-bg">Football</a></div>
                                    <h2><a href="#">If you are going to use a passage of</a></h2>
                                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cumque incidunt blanditiis non culpa accusantium quia corrupti</p>
                                    <div class="post-meta">
                                        <a href="#" class="author">Ridoy</a>
                                        <a href="#" class="date">September 4, 2019</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row single-post-2">
                            <div class="col-xl-6">
                                <a href="#"><img src="~/Public/images/category/sports/5.jpg" alt=""></a>
                            </div>
                            <div class="col-xl-6">
                                <div class="post-inside-content">
                                    <div class="category-tag"><a href="#" class="mint-bg">Entertaiment</a></div>
                                    <h2><a href="#">Hampden-Sydney College in Virginia</a></h2>
                                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cumque incidunt blanditiis non culpa accusantium quia corrupti</p>
                                    <div class="post-meta">
                                        <a href="#" class="author">Ridoy</a>
                                        <a href="#" class="date">September 4, 2019</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row single-post-2">
                            <div class="col-xl-6">
                                <a href="#"><img src="~/Public/images/category/sports/6.jpg" alt=""></a>
                            </div>
                            <div class="col-xl-6">
                                <div class="post-inside-content">
                                    <div class="category-tag"><a href="#" class="primary-bg">Politics</a></div>
                                    <h2><a href="#">Finibus Bonorum et Malorum</a></h2>
                                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cumque incidunt blanditiis non culpa accusantium quia corrupti</p>
                                    <div class="post-meta">
                                        <a href="#" class="author">Ridoy</a>
                                        <a href="#" class="date">September 4, 2019</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row single-post-2">
                            <div class="col-xl-6">
                                <a href="#"><img src="~/Public/images/category/sports/7.jpg" alt=""></a>
                            </div>
                            <div class="col-xl-6">
                                <div class="post-inside-content">
                                    <div class="category-tag"><a href="#" class="blue-bg">Business</a></div>
                                    <h2><a href="#">Richard McClintock, a Latin professor</a></h2>
                                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cumque incidunt blanditiis non culpa accusantium quia corrupti</p>
                                    <div class="post-meta">
                                        <a href="#" class="author">Ridoy</a>
                                        <a href="#" class="date">September 4, 2019</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">
                <aside class="site-sidebar">
                    @{
                        Html.RenderPartial("~/Views/Shared/_Categories.cshtml");
                    }
                    @{
                        Html.RenderPartial("~/Views/Shared/_Lastest.cshtml");
                    }
                    @{
                        Html.RenderPartial("~/Views/Shared/_sociallink.cshtml");
                    }
                    @{
                        Html.RenderPartial("~/Views/Shared/_QuikLink.cshtml");
                    }
                </aside>
            </div>
        </div>
    </div>
</section><!--/Content Section-->
<!--Content Section-->
<section class="section-padding-2 gray-bg">
    <div class="container">

        @{
            Html.RenderPartial("~/Views/Shared/_Slider.cshtml");
        }
    </div>
</section><!--/Content Section-->