  <!--Breadcrumb-->
<section class="breadcrumb-section gray-bg-2">
    <div class="container">
        <div class="row">
            <div class="col">
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Category</a></li>
                    <li>Travel</li>
                </ul>
                <div class="banner-title">
                    <h2>Travel</h2>
                </div>
            </div>
        </div>
    </div>
</section><!--/Breadcrumb-->
<!--Content Section-->
<section class="section-padding-2">
    <div class="container">
        <div class="row">
            <div class="col-xl-8 col-lg-8 col-md-8 col-sm-6">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="single-post-3">
                            <div class="list-post-img">
                                <img src="~/Public/images/post/5.jpg" alt="">
                                <a class="tag yellow-bg" href="#">Business</a>
                            </div>
                            <div class="list-post-content">
                                <h4><a href="#">See the live on the field the live on the See the live on</a></h4>
                                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolor harum ullam maiores, quidem autem perferendis</p>
                                <div class="post-date">September 4, 2019</div>
                            </div>
                        </div>
                        <div class="single-post-3">
                            <div class="list-post-img">
                                <img src="~/Public/images/post/7.jpg" alt="">
                                <a class="tag blue-bg" href="#">Athletes</a>
                            </div>
                            <div class="list-post-content">
                                <h4><a href="#">See the live on the field the live on the See the live on</a></h4>
                                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolor harum ullam maiores, quidem autem perferendis</p>
                                <div class="post-date">September 4, 2019</div>
                            </div>
                        </div>
                        <div class="single-post-3">
                            <div class="list-post-img">
                                <img src="~/Public/images/post/9.jpg" alt="">
                                <a class="tag green-bg" href="#">Sports</a>
                            </div>
                            <div class="list-post-content">
                                <h4><a href="#">See the live on the field the live on the See the live on</a></h4>
                                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolor harum ullam maiores, quidem autem perferendis</p>
                                <div class="post-date">September 4, 2019</div>
                            </div>
                        </div>
                        <div class="single-post-3">
                            <div class="list-post-img">
                                <img src="~/Public/images/post/2.jpg" alt="">
                                <a class="tag primary-bg" href="#">nature</a>
                            </div>
                            <div class="list-post-content">
                                <h4><a href="#">See the live on the field the live on the See the live on</a></h4>
                                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolor harum ullam maiores, quidem autem perferendis</p>
                                <div class="post-date">September 4, 2019</div>
                            </div>
                        </div>
                        <div class="single-post-3">
                            <div class="list-post-img">
                                <img src="~/Public/images/post/1.jpg" alt="">
                                <a class="tag mint-bg" href="#">nature</a>
                            </div>
                            <div class="list-post-content">
                                <h4><a href="#">See the live on the field the live on the See the live on</a></h4>
                                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolor harum ullam maiores, quidem autem perferendis</p>
                                <div class="post-date">September 4, 2019</div>
                            </div>
                        </div>
                        <div class="single-post-3">
                            <div class="list-post-img">
                                <img src="~/Public/images/post/5.jpg" alt="">
                                <a class="tag yellow-bg" href="#">Business</a>
                            </div>
                            <div class="list-post-content">
                                <h4><a href="#">See the live on the field the live on the See the live on</a></h4>
                                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolor harum ullam maiores, quidem autem perferendis</p>
                                <div class="post-date">September 4, 2019</div>
                            </div>
                        </div>
                        <div class="single-post-3">
                            <div class="list-post-img">
                                <img src="~/Public/images/post/7.jpg" alt="">
                                <a class="tag blue-bg" href="#">Athletes</a>
                            </div>
                            <div class="list-post-content">
                                <h4><a href="#">See the live on the field the live on the See the live on</a></h4>
                                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolor harum ullam maiores, quidem autem perferendis</p>
                                <div class="post-date">September 4, 2019</div>
                            </div>
                        </div>
                        <div class="single-post-3">
                            <div class="list-post-img">
                                <img src="~/Public/images/post/9.jpg" alt="">
                                <a class="tag green-bg" href="#">Sports</a>
                            </div>
                            <div class="list-post-content">
                                <h4><a href="#">See the live on the field the live on the See the live on</a></h4>
                                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolor harum ullam maiores, quidem autem perferendis</p>
                                <div class="post-date">September 4, 2019</div>
                            </div>
                        </div>
                        <div class="single-post-3">
                            <div class="list-post-img">
                                <img src="~/Public/images/post/2.jpg" alt="">
                                <a class="tag primary-bg" href="#">nature</a>
                            </div>
                            <div class="list-post-content">
                                <h4><a href="#">See the live on the field the live on the See the live on</a></h4>
                                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolor harum ullam maiores, quidem autem perferendis</p>
                                <div class="post-date">September 4, 2019</div>
                            </div>
                        </div>
                        <div class="single-post-3">
                            <div class="list-post-img">
                                <img src="~/Public/images/post/1.jpg" alt="">
                                <a class="tag mint-bg" href="#">nature</a>
                            </div>
                            <div class="list-post-content">
                                <h4><a href="#">See the live on the field the live on the See the live on</a></h4>
                                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolor harum ullam maiores, quidem autem perferendis</p>
                                <div class="post-date">September 4, 2019</div>
                            </div>
                        </div>
                        <div class="single-post-3">
                            <div class="list-post-img">
                                <img src="~/Public/images/post/5.jpg" alt="">
                                <a class="tag yellow-bg" href="#">Business</a>
                            </div>
                            <div class="list-post-content">
                                <h4><a href="#">See the live on the field the live on the See the live on</a></h4>
                                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolor harum ullam maiores, quidem autem perferendis</p>
                                <div class="post-date">September 4, 2019</div>
                            </div>
                        </div>
                        <div class="single-post-3">
                            <div class="list-post-img">
                                <img src="~/Public/images/post/7.jpg" alt="">
                                <a class="tag blue-bg" href="#">Athletes</a>
                            </div>
                            <div class="list-post-content">
                                <h4><a href="#">See the live on the field the live on the See the live on</a></h4>
                                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolor harum ullam maiores, quidem autem perferendis</p>
                                <div class="post-date">September 4, 2019</div>
                            </div>
                        </div>
                        <div class="single-post-3">
                            <div class="list-post-img">
                                <img src="~/Public/images/post/9.jpg" alt="">
                                <a class="tag green-bg" href="#">Sports</a>
                            </div>
                            <div class="list-post-content">
                                <h4><a href="#">See the live on the field the live on the See the live on</a></h4>
                                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolor harum ullam maiores, quidem autem perferendis</p>
                                <div class="post-date">September 4, 2019</div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6">
                <aside class="site-sidebar">
                    @{
                        Html.RenderPartial("~/Views/Shared/_QuikLink.cshtml");
                    }
                    @{
                        Html.RenderPartial("~/Views/Shared/_Lastest.cshtml");
                    }
                    @{
                        Html.RenderPartial("~/Views/Shared/_Categories.cshtml");
                    }
                    @{
                        Html.RenderPartial("~/Views/Shared/_sociallink.cshtml");
                    }
                </aside>
            </div>
        </div>
    </div>
</section><!--/Content Section-->
<!--Content Section-->
<section class="section-padding-2 gray-bg">
    <div class="container">

        @{
            Html.RenderPartial("~/Views/Shared/_Slider.cshtml");
        }
    </div>
</section><!--/Content Section-->