  <!--Breadcrumb-->
<section class="breadcrumb-section gray-bg-2">
    <div class="container">
        <div class="row">
            <div class="col">
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Category</a></li>
                    <li>Travel</li>
                </ul>
                <div class="banner-title">
                    <h2>Travel</h2>
                </div>
            </div>
        </div>
    </div>
</section><!--/Breadcrumb-->
<!--Content Section-->
<section class="section-padding-2">
    <div class="container">
        <div class="row">
            <div class="col-xl-8 col-lg-8 col-md-8 col-sm-6">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="single-post-3">
                            <div class="list-post-img">
                                <img src="~/Public/images/post/5.jpg" alt="">
                                <a class="tag yellow-bg" href="#">Business</a>
                            </div>
                            <div class="list-post-content">
                                <h4><a href="#">See the live on the field the live on the See the live on</a></h4>
                                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolor harum ullam maiores, quidem autem perferendis</p>
                                <div class="post-date">September 4, 2019</div>
                            </div>
                        </div>
                        <div class="single-post-3">
                            <div class="list-post-img">
                                <img src="~/Public/images/post/7.jpg" alt="">
                                <a class="tag blue-bg" href="#">Athletes</a>
                            </div>
                            <div class="list-post-content">
                                <h4><a href="#">See the live on the field the live on the See the live on</a></h4>
                                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolor harum ullam maiores, quidem autem perferendis</p>
                                <div class="post-date">September 4, 2019</div>
                            </div>
                        </div>
                        <div class="single-post-3">
                            <div class="list-post-img">
                                <img src="~/Public/images/post/9.jpg" alt="">
                                <a class="tag green-bg" href="#">Sports</a>
                            </div>
                            <div class="list-post-content">
                                <h4><a href="#">See the live on the field the live on the See the live on</a></h4>
                                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolor harum ullam maiores, quidem autem perferendis</p>
                                <div class="post-date">September 4, 2019</div>
                            </div>
                        </div>
                        <div class="single-post-3">
                            <div class="list-post-img">
                                <img src="~/Public/images/post/2.jpg" alt="">
                                <a class="tag primary-bg" href="#">nature</a>
                            </div>
                            <div class="list-post-content">
                                <h4><a href="#">See the live on the field the live on the See the live on</a></h4>
                                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolor harum ullam maiores, quidem autem perferendis</p>
                                <div class="post-date">September 4, 2019</div>
                            </div>
                        </div>
                        <div class="single-post-3">
                            <div class="list-post-img">
                                <img src="~/Public/images/post/1.jpg" alt="">
                                <a class="tag mint-bg" href="#">nature</a>
                            </div>
                            <div class="list-post-content">
                                <h4><a href="#">See the live on the field the live on the See the live on</a></h4>
                                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolor harum ullam maiores, quidem autem perferendis</p>
                                <div class="post-date">September 4, 2019</div>
                            </div>
                        </div>
                        <div class="single-post-3">
                            <div class="list-post-img">
                                <img src="~/Public/images/post/5.jpg" alt="">
                                <a class="tag yellow-bg" href="#">Business</a>
                            </div>
                            <div class="list-post-content">
                                <h4><a href="#">See the live on the field the live on the See the live on</a></h4>
                                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolor harum ullam maiores, quidem autem perferendis</p>
                                <div class="post-date">September 4, 2019</div>
                            </div>
                        </div>
                        <div class="single-post-3">
                            <div class="list-post-img">
                                <img src="~/Public/images/post/7.jpg" alt="">
                                <a class="tag blue-bg" href="#">Athletes</a>
                            </div>
                            <div class="list-post-content">
                                <h4><a href="#">See the live on the field the live on the See the live on</a></h4>
                                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolor harum ullam maiores, quidem autem perferendis</p>
                                <div class="post-date">September 4, 2019</div>
                            </div>
                        </div>
                        <div class="single-post-3">
                            <div class="list-post-img">
                                <img src="~/Public/images/post/9.jpg" alt="">
                                <a class="tag green-bg" href="#">Sports</a>
                            </div>
                            <div class="list-post-content">
                                <h4><a href="#">See the live on the field the live on the See the live on</a></h4>
                                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolor harum ullam maiores, quidem autem perferendis</p>
                                <div class="post-date">September 4, 2019</div>
                            </div>
                        </div>
                        <div class="single-post-3">
                            <div class="list-post-img">
                                <img src="~/Public/images/post/2.jpg" alt="">
                                <a class="tag primary-bg" href="#">nature</a>
                            </div>
                            <div class="list-post-content">
                                <h4><a href="#">See the live on the field the live on the See the live on</a></h4>
                                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolor harum ullam maiores, quidem autem perferendis</p>
                                <div class="post-date">September 4, 2019</div>
                            </div>
                        </div>
                        <div class="single-post-3">
                            <div class="list-post-img">
                                <img src="~/Public/images/post/1.jpg" alt="">
                                <a class="tag mint-bg" href="#">nature</a>
                            </div>
                            <div class="list-post-content">
                                <h4><a href="#">See the live on the field the live on the See the live on</a></h4>
                                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolor harum ullam maiores, quidem autem perferendis</p>
                                <div class="post-date">September 4, 2019</div>
                            </div>
                        </div>
                        <div class="single-post-3">
                            <div class="list-post-img">
                                <img src="~/Public/images/post/5.jpg" alt="">
                                <a class="tag yellow-bg" href="#">Business</a>
                            </div>
                            <div class="list-post-content">
                                <h4><a href="#">See the live on the field the live on the See the live on</a></h4>
                                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolor harum ullam maiores, quidem autem perferendis</p>
                                <div class="post-date">September 4, 2019</div>
                            </div>
                        </div>
                        <div class="single-post-3">
                            <div class="list-post-img">
                                <img src="~/Public/images/post/7.jpg" alt="">
                                <a class="tag blue-bg" href="#">Athletes</a>
                            </div>
                            <div class="list-post-content">
                                <h4><a href="#">See the live on the field the live on the See the live on</a></h4>
                                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolor harum ullam maiores, quidem autem perferendis</p>
                                <div class="post-date">September 4, 2019</div>
                            </div>
                        </div>
                        <div class="single-post-3">
                            <div class="list-post-img">
                                <img src="~/Public/images/post/9.jpg" alt="">
                                <a class="tag green-bg" href="#">Sports</a>
                            </div>
                            <div class="list-post-content">
                                <h4><a href="#">See the live on the field the live on the See the live on</a></h4>
                                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolor harum ullam maiores, quidem autem perferendis</p>
                                <div class="post-date">September 4, 2019</div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6">
                <aside class="site-sidebar">
                    <div class="single-sidebar">
                        <div class="section-title">
                            <h3><a href="#">Quick link</a></h3>
                        </div>
                        <div class="single-quick-link">
                            <div class="category-tag">
                                <a href="#" class="cl-green">Sports</a>
                            </div>
                            <h4><a href="#">Let's start playing football togather in that field It is a long established fact</a></h4>
                        </div>
                        <div class="single-quick-link">
                            <div class="category-tag">
                                <a href="#" class="cl-mint">Technology</a>
                            </div>
                            <h4><a href="#">Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</a></h4>
                        </div>
                        <div class="single-quick-link">
                            <div class="category-tag">
                                <a href="#" class="cl-blue">Politics</a>
                            </div>
                            <h4><a href="#">There are many variations of passages of Lorem Ipsum available</a></h4>
                        </div>
                    </div>
                    <div class="single-sidebar">
                        <div class="section-title">
                            <h3><a href="#">Lastest News</a></h3>
                        </div>
                        <div class="sidebar-content">
                            <ul class="nav nav-pills mb-3" id="pills-tab2" role="tablist">
                                <li>
                                    <a class="active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">Sports</a>
                                </li>
                                <li>
                                    <a id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">Fashion</a>
                                </li>
                                <li>
                                    <a id="pills-contact-tab" data-toggle="pill" href="#pills-contact" role="tab" aria-controls="pills-contact" aria-selected="false">News</a>
                                </li>
                            </ul>
                            <div class="tab-content" id="pills-tabContent2">
                                <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
                                    <div class="single-list-post">
                                        <div class="list-post-img">
                                            <a href="#"><img src="~/Public/images/post/9.jpg" alt=""></a>
                                        </div>
                                        <div class="list-post-content">
                                            <a href="#" class="cl-mint">Stadium</a>
                                            <h4><a href="#">See the live on the field the live on the</a></h4>
                                            <div class="post-date">September 4, 2019</div>
                                        </div>
                                    </div>
                                    <div class="single-list-post">
                                        <div class="list-post-img">
                                            <a href="#"><img src="~/Public/images/post/8.jpg" alt=""></a>
                                        </div>
                                        <div class="list-post-content">
                                            <a href="#" class="cl-green">Athletes</a>
                                            <h4><a href="#">See the live on the field the live on the</a></h4>
                                            <div class="post-date">September 4, 2019</div>
                                        </div>
                                    </div>
                                    <div class="single-list-post">
                                        <div class="list-post-img">
                                            <a href="#"><img src="~/Public/images/post/7.jpg" alt=""></a>
                                        </div>
                                        <div class="list-post-content">
                                            <a href="#" class="cl-primary">Football</a>
                                            <h4><a href="#">See the live on the field the live on the</a></h4>
                                            <div class="post-date">September 4, 2019</div>
                                        </div>
                                    </div>
                                    <div class="single-list-post">
                                        <div class="list-post-img">
                                            <a href="#"><img src="~/Public/images/post/6.jpg" alt=""></a>
                                        </div>
                                        <div class="list-post-content">
                                            <a href="#" class="cl-blue">Football</a>
                                            <h4><a href="#">See the live on the field the live on the</a></h4>
                                            <div class="post-date">September 4, 2019</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
                                    <div class="single-list-post">
                                        <div class="list-post-img">
                                            <a href="#"><img src="~/Public/images/post/1.jpg" alt=""></a>
                                        </div>
                                        <div class="list-post-content">
                                            <a href="#" class="cl-green">Model</a>
                                            <h4><a href="#">See the live on the field the live on the</a></h4>
                                            <div class="post-date">September 4, 2019</div>
                                        </div>
                                    </div>
                                    <div class="single-list-post">
                                        <div class="list-post-img">
                                            <a href="#"><img src="~/Public/images/post/2.jpg" alt=""></a>
                                        </div>
                                        <div class="list-post-content">
                                            <a href="#" class="cl-mint">Dresses</a>
                                            <h4><a href="#">See the live on the field the live on the</a></h4>
                                            <div class="post-date">September 4, 2019</div>
                                        </div>
                                    </div>
                                    <div class="single-list-post">
                                        <div class="list-post-img">
                                            <a href="#"><img src="~/Public/images/post/3.jpg" alt=""></a>
                                        </div>
                                        <div class="list-post-content">
                                            <a href="#" class="cl-blue">Fashion</a>
                                            <h4><a href="#">See the live on the field the live on the</a></h4>
                                            <div class="post-date">September 4, 2019</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">
                                    <div class="single-list-post">
                                        <div class="list-post-img">
                                            <a href="#"><img src="~/Public/images/post/4.jpg" alt=""></a>
                                        </div>
                                        <div class="list-post-content">
                                            <a href="#" class="cl-mint">International</a>
                                            <h4><a href="#">See the live on the field the live on the</a></h4>
                                            <div class="post-date">September 4, 2019</div>
                                        </div>
                                    </div>
                                    <div class="single-list-post">
                                        <div class="list-post-img">
                                            <a href="#"><img src="~/Public/images/post/5.jpg" alt=""></a>
                                        </div>
                                        <div class="list-post-content">
                                            <a href="#" class="cl-primary">Politics</a>
                                            <h4><a href="#">See the live on the field the live on the</a></h4>
                                            <div class="post-date">September 4, 2019</div>
                                        </div>
                                    </div>
                                    <div class="single-list-post">
                                        <div class="list-post-img">
                                            <a href="#"><img src="~/Public/images/post/6.jpg" alt=""></a>
                                        </div>
                                        <div class="list-post-content">
                                            <a href="#" class="cl-blue">Near by</a>
                                            <h4><a href="#">See the live on the field the live on the</a></h4>
                                            <div class="post-date">September 4, 2019</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="single-sidebar">
                        <div class="section-title">
                            <h3><a href="#">Categories</a></h3>
                        </div>
                        <div class="site-category">
                            <ul>
                                <li><a href="#">World Politics</a> <span>52</span></li>
                                <li><a href="#">Sports</a> <span>15</span></li>
                                <li><a href="#">Technology</a> <span>48</span></li>
                                <li><a href="#">Science</a> <span>36</span></li>
                                <li><a href="#">History</a> <span>54</span></li>
                                <li><a href="#">Globalization</a> <span>32</span></li>
                                <li><a href="#">Reviews</a> <span>15</span></li>
                                <li><a href="#">artificial intelligence</a> <span>52</span></li>
                                <li><a href="#">Fashion</a> <span>58</span></li>
                                <li><a href="#">Showbiz</a> <span>25</span></li>
                                <li><a href="#">Entertaiment</a> <span>96</span></li>
                            </ul>
                        </div>
                    </div>
                    <div class="single-sidebar">
                        <div class="section-title">
                            <h3>Social Followers</h3>
                        </div>
                        <div class="sidebar-content">
                            <div class="sidebar-social">
                                <a href="#" class="facebook-bg"><i class="fa fa-facebook"></i>Facebook<span>4.3M</span></a>
                                <a href="#" class="twitter-bg"><i class="fa fa-twitter"></i>Twitter<span>3.2M</span></a>
                                <a href="#" class="instagram-bg"><i class="fa fa-instagram"></i>instagram<span>4.9M</span></a>
                                <a href="#" class="linkedin-bg"><i class="fa fa-linkedin"></i>linkedin<span>1.3M</span></a>
                            </div>
                        </div>
                    </div>
                </aside>
            </div>
        </div>
    </div>
</section><!--/Content Section-->
<!--Content Section-->
<section class="section-padding-2 gray-bg">
    <div class="container">

        @{
            Html.RenderPartial("~/Views/Shared/_Slider.cshtml");
        }
    </div>
</section><!--/Content Section-->