@model TexnologyViewModel
@{
    ViewBag.Title = "Index";
}

    <section class="breadcrumb-section gray-bg-2">
        <div class="container">
            <div class="row">
                <div class="col">
                    <ul>
                        <li><a href="#">Home</a></li>
                        <li><a href="#">Category</a></li>
                        <li>Technology</li>
                    </ul>
                    <div class="banner-title">
                        <h2>Technology</h2>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section-padding-2">
        <div class="container">
            <div class="row">
                <div class="col-xl-8 col-lg-8 col-md-8 col-sm-6">
                    <div class="row">
                        @foreach (var item in Model.Texnologies)
                        {
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                                <div class="single-post-4">
                                    <div class="post-inside-img">
                                        <img src="~/Public/images/category/technology/@item.Photo" alt="">
                                        <div class="category-tag">
                                            <a href="@item.BtnUrl" target="_blank" class="mint-bg">@item.BtnName</a>
                                        </div>
                                    </div>
                                    <div class="post-inside-content">
                                        <h3><a href="#">@item.Tittle</a></h3>
                                        <p>@item.Description</p>
                                    </div>
                                </div>
                            </div>
                        }


                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                            <a href="#" class="bttn-mid btn-emt w-100 centered mb-30">Load More</a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6">
                    <aside class="site-sidebar">
                        @{
                            Html.RenderPartial("~/Views/Shared/_QuikLink.cshtml");
                        }
                        @{
                            Html.RenderPartial("~/Views/Shared/_Lastest.cshtml");
                        }
                        @{
                            Html.RenderPartial("~/Views/Shared/_Categories.cshtml");
                        }
                    </aside>
                </div>
            </div>
            @{
                Html.RenderPartial("~/Views/Shared/_Slider.cshtml", model: Model.Sliders);
            }
        </div>
       
    </section>

