
@{
    ViewBag.Title = "Index";
}


<!--Breadcrumb-->
<section class="breadcrumb-section gray-bg-2">
    <div class="container">
        <div class="row">
            <div class="col">
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Pages</a></li>
                    <li>About</li>
                </ul>
                <div class="banner-title">
                    <h2>About us</h2>
                </div>
            </div>
        </div>
    </div>
</section><!--/Breadcrumb-->
<!--Content Section-->
<section class="section-padding-2">
    <div class="container">
        <div class="row mb-30">
            <div class="col">
                <img src="~/Public/images/about.jpg" alt="">
            </div>
        </div>
        <div class="row">
            <div class="col-xl-8 col-lg-8 col-md-8 col-sm-12">
                <div class="page-contents">
                    <h2>Explore about us to know</h2>
                    <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which</p>
                    <p>If you are going to use a passage of don't look even slightly believable.  Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words, combined with a handful of model sentence structures, to generate Lorem Ipsum which looks reasonable. The generated Lorem Ipsum is therefore always free from repetition, injected humour, or non-characteristic words etc. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sapiente commodi beatae fuga nobis facilis praesentium enim optio veritatis repellendus quasi provident, deserunt ut, at blanditiis harum debitis voluptatum. Soluta, totam.</p>
                    <h3>Check out our history</h3>
                    <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the</p>
                    <p>The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in their exact original form, accompanied by English versions from the 1914 translation by H. Rackham.</p>
                    <h3>Our Mission and vission</h3>
                    <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the</p>
                    <p>The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in their exact original form, accompanied by English versions from the 1914 translation by H. Rackham.</p>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6">
                <aside class="site-sidebar">
                    <div class="single-sidebar">
                        <div class="section-title">
                            <h3><a href="#">Categories</a></h3>
                        </div>
                        <div class="site-category">
                            <ul>
                                <li><a href="#">World Politics</a> <span>52</span></li>
                                <li><a href="#">Sports</a> <span>15</span></li>
                                <li><a href="#">Technology</a> <span>48</span></li>
                                <li><a href="#">Science</a> <span>36</span></li>
                                <li><a href="#">History</a> <span>54</span></li>
                                <li><a href="#">Globalization</a> <span>32</span></li>
                            </ul>
                        </div>
                    </div>
                    <div class="single-sidebar">
                        <div class="section-title">
                            <h3><a href="#">Lastest News</a></h3>
                        </div>
                        <div class="sidebar-content">
                            <ul class="nav nav-pills mb-3" id="pills-tab2" role="tablist">
                                <li>
                                    <a class="active" id="pills-sports-tab" data-toggle="pill" href="#pills-sports" role="tab" aria-controls="pills-sports" aria-selected="true">Sports</a>
                                </li>
                                <li>
                                    <a id="pills-fashion-tab" data-toggle="pill" href="#pills-fashion" role="tab" aria-controls="pills-fashion" aria-selected="false">Fashion</a>
                                </li>
                                <li>
                                    <a id="pills-news-tab" data-toggle="pill" href="#pills-news" role="tab" aria-controls="pills-news" aria-selected="false">News</a>
                                </li>
                            </ul>
                            <div class="tab-content" id="pills-tabContent2">
                                <div class="tab-pane fade show active" id="pills-sports" role="tabpanel" aria-labelledby="pills-sports-tab">
                                    <div class="single-list-post">
                                        <div class="list-post-img">
                                            <a href="#"><img src="~/Public/images/post/9.jpg" alt=""></a>
                                        </div>
                                        <div class="list-post-content">
                                            <a href="#" class="cl-mint">Stadium</a>
                                            <h4><a href="#">See the live on the field the live on the</a></h4>
                                            <div class="post-date">September 4, 2019</div>
                                        </div>
                                    </div>
                                    <div class="single-list-post">
                                        <div class="list-post-img">
                                            <a href="#"><img src="~/Public/images/post/8.jpg" alt=""></a>
                                        </div>
                                        <div class="list-post-content">
                                            <a href="#" class="cl-green">Athletes</a>
                                            <h4><a href="#">See the live on the field the live on the</a></h4>
                                            <div class="post-date">September 4, 2019</div>
                                        </div>
                                    </div>
                                    <div class="single-list-post">
                                        <div class="list-post-img">
                                            <a href="#"><img src="~/Public/images/post/7.jpg" alt=""></a>
                                        </div>
                                        <div class="list-post-content">
                                            <a href="#" class="cl-primary">Football</a>
                                            <h4><a href="#">See the live on the field the live on the</a></h4>
                                            <div class="post-date">September 4, 2019</div>
                                        </div>
                                    </div>
                                    <div class="single-list-post">
                                        <div class="list-post-img">
                                            <a href="#"><img src="~/Public/images/post/6.jpg" alt=""></a>
                                        </div>
                                        <div class="list-post-content">
                                            <a href="#" class="cl-blue">Football</a>
                                            <h4><a href="#">See the live on the field the live on the</a></h4>
                                            <div class="post-date">September 4, 2019</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="pills-fashion" role="tabpanel" aria-labelledby="pills-fashion-tab">
                                    <div class="single-list-post">
                                        <div class="list-post-img">
                                            <a href="#"><img src="~/Public/images/post/1.jpg" alt=""></a>
                                        </div>
                                        <div class="list-post-content">
                                            <a href="#" class="cl-green">Model</a>
                                            <h4><a href="#">See the live on the field the live on the</a></h4>
                                            <div class="post-date">September 4, 2019</div>
                                        </div>
                                    </div>
                                    <div class="single-list-post">
                                        <div class="list-post-img">
                                            <a href="#"><img src="~/Public/images/post/2.jpg" alt=""></a>
                                        </div>
                                        <div class="list-post-content">
                                            <a href="#" class="cl-mint">Dresses</a>
                                            <h4><a href="#">See the live on the field the live on the</a></h4>
                                            <div class="post-date">September 4, 2019</div>
                                        </div>
                                    </div>
                                    <div class="single-list-post">
                                        <div class="list-post-img">
                                            <a href="#"><img src="~/Public/images/post/3.jpg" alt=""></a>
                                        </div>
                                        <div class="list-post-content">
                                            <a href="#" class="cl-blue">Fashion</a>
                                            <h4><a href="#">See the live on the field the live on the</a></h4>
                                            <div class="post-date">September 4, 2019</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="pills-news" role="tabpanel" aria-labelledby="pills-news-tab">
                                    <div class="single-list-post">
                                        <div class="list-post-img">
                                            <a href="#"><img src="~/Public/images/post/4.jpg" alt=""></a>
                                        </div>
                                        <div class="list-post-content">
                                            <a href="#" class="cl-mint">International</a>
                                            <h4><a href="#">See the live on the field the live on the</a></h4>
                                            <div class="post-date">September 4, 2019</div>
                                        </div>
                                    </div>
                                    <div class="single-list-post">
                                        <div class="list-post-img">
                                            <a href="#"><img src="~/Public/images/post/5.jpg" alt=""></a>
                                        </div>
                                        <div class="list-post-content">
                                            <a href="#" class="cl-primary">Politics</a>
                                            <h4><a href="#">See the live on the field the live on the</a></h4>
                                            <div class="post-date">September 4, 2019</div>
                                        </div>
                                    </div>
                                    <div class="single-list-post">
                                        <div class="list-post-img">
                                            <a href="#"><img src="~/Public/images/post/6.jpg" alt=""></a>
                                        </div>
                                        <div class="list-post-content">
                                            <a href="#" class="cl-blue">Near by</a>
                                            <h4><a href="#">See the live on the field the live on the</a></h4>
                                            <div class="post-date">September 4, 2019</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </aside>
            </div>
        </div>
    </div>
</section><!--/Content Section-->
<!--Content Section-->
<section class="section-padding-2 gray-bg">
    <div class="container">

        @{
            Html.RenderPartial("~/Views/Shared/_Slider.cshtml");
        }
    </div>
</section><!--/Content Section-->
