@model AboutViewModel

@{
    ViewBag.Title = "About";
}


<!--Breadcrumb-->
<section class="breadcrumb-section gray-bg-2">
    <div class="container">
        <div class="row">
            <div class="col">
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Pages</a></li>
                    <li>About</li>
                </ul>
                <div class="banner-title">
                    <h2>About us</h2>
                </div>
            </div>
        </div>
    </div>
</section>
<!--/Breadcrumb-->
<!--Content Section-->
<section class="section-padding-2">
    <div class="container">
        <div class="row mb-30">
            <div class="col">
                <img src="~/Public/images/@Model.AboutUs.Photo" alt="">
            </div>
        </div>
        <div class="row">
            <div class="col-xl-8 col-lg-8 col-md-8 col-sm-12">
                <div class="page-contents">
                    <h2>@Model.AboutUs.Tittle</h2>
                    @Html.Raw(Model.AboutUs.Body)
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6">
                <aside class="site-sidebar">
                    @{
                        Html.RenderPartial("~/Views/Shared/_Lastest.cshtml");
                    }
                    @{
                        Html.RenderPartial("~/Views/Shared/_Categories.cshtml");
                    }
                </aside>
            </div>
        </div>
    </div>
</section><!--/Content Section-->
<!--Content Section-->
<section class="section-padding-2 gray-bg">
    <div class="container">

        @{
            Html.RenderPartial("~/Views/Shared/_Slider.cshtml",model:Model.Sliders);
        }
    </div>
</section><!--/Content Section-->
