@{
    ViewBag.Title = "Home Page";
}

<!--Hero Section-->
<section class="hero-area gray-bg">
    <div class="container">
        <div class="row">
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6">
                <div class="single-post">
                    <a href="#"><img src="~/Public/images/post/21.jpg" alt=""></a>
                    <div class="post-inside-content">
                        <div class="category-tag"><a href="#" class="blue-bg-2">News</a></div>
                        <h2><a href="#">Phasellus consequat rutrum</a></h2>
                        <div class="post-meta">
                            <a href="#" class="author">Ridoy</a>
                            <a href="#" class="date">September 4, 2019</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6">
                <div class="single-post">
                    <a href="#"><img src="~/Public/images/post/19.jpg" alt=""></a>
                    <div class="post-inside-content">
                        <div class="category-tag"><a href="#" class="green-bg">Fashion</a></div>
                        <h2><a href="#">Morbi leo lorem, cursus quis</a></h2>
                        <div class="post-meta">
                            <a href="#" class="author">Ridoy</a>
                            <a href="#" class="date">September 4, 2019</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6">
                <div class="single-post">
                    <a href="#"><img src="~/Public/images/post/3.jpg" alt=""></a>
                    <div class="post-inside-content">
                        <div class="category-tag"><a href="#" class="blue-bg">Nature</a></div>
                        <h2><a href="#">Ellentesque ultricies ullamcorper magna</a></h2>
                        <div class="post-meta">
                            <a href="#" class="author">Ridoy</a>
                            <a href="#" class="date">September 4, 2019</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6">
                <div class="single-post">
                    <a href="#"><img src="~/Public/images/post/17.jpg" alt=""></a>
                    <div class="post-inside-content">
                        <div class="category-tag"><a href="#" class="primary-bg">Food</a></div>
                        <h2><a href="#">Nulla eget enim eget mauris aliquam</a></h2>
                        <div class="post-meta">
                            <a href="#" class="author">Ridoy</a>
                            <a href="#" class="date">September 4, 2019</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6">
                <div class="single-post">
                    <a href="#"><img src="~/Public/images/post/24.jpg" alt=""></a>
                    <div class="post-inside-content">
                        <div class="category-tag"><a href="#" class="mint-bg">Football</a></div>
                        <h2><a href="#">Quisque sed ex egestas, dignissim</a></h2>
                        <div class="post-meta">
                            <a href="#" class="author">Ridoy</a>
                            <a href="#" class="date">September 4, 2019</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6">
                <div class="single-post">
                    <a href="#"><img src="~/Public/images/post/11.jpg" alt=""></a>
                    <div class="post-inside-content">
                        <div class="category-tag"><a href="#" class="yellow-bg">Music</a></div>
                        <h2><a href="#">Nam suscipit luctus ante, vel iaculis</a></h2>
                        <div class="post-meta">
                            <a href="#" class="author">Ridoy</a>
                            <a href="#" class="date">September 4, 2019</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6">
                <div class="single-post">
                    <a href="#"><img src="~/Public/images/post/23.jpg" alt=""></a>
                    <div class="post-inside-content">
                        <div class="category-tag"><a href="#" class="blue-bg-2">Politics</a></div>
                        <h2><a href="#">Proin non arcu lacus. Etiam est quam</a></h2>
                        <div class="post-meta">
                            <a href="#" class="author">Ridoy</a>
                            <a href="#" class="date">September 4, 2019</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section><!--Hero Section-->
<!--Content Section-->
<section class="section-padding">
    <div class="container">
        <div class="row">
            <div class="col-xl-8 col-lg-8 col-md-8 col-sm-6">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="section-title">
                            <h2><a href="#">fashion</a></h2>
                            <ul>
                                <li><a href="#" class="active">All</a></li>
                                <li><a href="#">Arts</a></li>
                                <li><a href="#">Modelling</a></li>
                                <li><a href="#">Photography</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xl-12">
                        <div class="row single-post-2">
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                                <a href="#"><img src="~/Public/images/post/18.jpg" alt=""></a>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                                <div class="post-inside-content">
                                    <div class="category-tag"><a href="#" class="primary-bg">Modelling</a></div>
                                    <h2><a href="#">Impressive business got raised</a></h2>
                                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cumque incidunt blanditiis non culpa accusantium quia corrupti</p>
                                    <div class="post-meta">
                                        <a href="#" class="author">Ridoy</a>
                                        <a href="#" class="date">September 4, 2019</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
                        <div class="single-post-2">
                            <a href="#"><img src="~/Public/images/post/19.jpg" alt=""></a>
                            <div class="post-inside-content">
                                <h2><a href="#">Impressive business got raised</a></h2>
                                <div class="post-meta">
                                    <a href="#" class="author">Ridoy</a>
                                    <a href="#" class="date">September 4, 2019</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
                        <div class="single-post-2">
                            <a href="#"><img src="~/Public/images/post/1.jpg" alt=""></a>
                            <div class="post-inside-content">
                                <h2><a href="#">Impressive business got raised</a></h2>
                                <div class="post-meta">
                                    <a href="#" class="author">Ridoy</a>
                                    <a href="#" class="date">September 4, 2019</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
                        <div class="single-post-2">
                            <a href="#"><img src="~/Public/images/post/9.jpg" alt=""></a>
                            <div class="post-inside-content">
                                <h2><a href="#">Impressive business got raised</a></h2>
                                <div class="post-meta">
                                    <a href="#" class="author">Ridoy</a>
                                    <a href="#" class="date">September 4, 2019</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="row">
                    <div class="col-xl-12">
                        <div class="section-title">
                            <h2><a href="#">Popular News</a></h2>
                        </div>
                    </div>
                </div>

                <div class="post-carousel owl-carousel mb-30">
                    <div class="row">
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                            <div class="single-post">
                                <a href="#"><img src="~/Public/images/post/4.jpg" alt=""></a>
                                <div class="post-inside-content">
                                    <div class="category-tag"><a href="#" class="green-bg">News</a></div>
                                    <h2><a href="#">Impressive business got raised</a></h2>
                                    <div class="post-meta">
                                        <a href="#" class="author">Ridoy</a>
                                        <a href="#" class="date">September 4, 2019</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                            <div class="single-list-post">
                                <div class="list-post-img">
                                    <a href="#"><img src="~/Public/images/post/5.jpg" alt=""></a>
                                </div>
                                <div class="list-post-content">
                                    <a href="#" class="cl-mint">Sports</a>
                                    <h4><a href="#">See the live on the field the live on the</a></h4>
                                    <div class="post-date">September 4, 2019</div>
                                </div>
                            </div>
                            <div class="single-list-post">
                                <div class="list-post-img">
                                    <a href="#"><img src="~/Public/images/post/1.jpg" alt=""></a>
                                </div>
                                <div class="list-post-content">
                                    <a href="#" class="cl-green">Athletes</a>
                                    <h4><a href="#">See the live on the field the live on the</a></h4>
                                    <div class="post-date">September 4, 2019</div>
                                </div>
                            </div>
                            <div class="single-list-post">
                                <div class="list-post-img">
                                    <a href="#"><img src="~/Public/images/post/2.jpg" alt=""></a>
                                </div>
                                <div class="list-post-content">
                                    <a href="#" class="cl-primary">Culture</a>
                                    <h4><a href="#">See the live on the field the live on the</a></h4>
                                    <div class="post-date">September 4, 2019</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                            <div class="single-post">
                                <a href="#"><img src="~/Public/images/post/3.jpg" alt=""></a>
                                <div class="post-inside-content">
                                    <div class="category-tag"><a href="#" class="primary-bg">News</a></div>
                                    <h2><a href="#">Impressive business got raised</a></h2>
                                    <div class="post-meta">
                                        <a href="#" class="author">Ridoy</a>
                                        <a href="#" class="date">September 4, 2019</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                            <div class="single-list-post">
                                <div class="list-post-img">
                                    <a href="#"><img src="~/Public/images/post/5.jpg" alt=""></a>
                                </div>
                                <div class="list-post-content">
                                    <a href="#" class="cl-mint">Athletes</a>
                                    <h4><a href="#">See the live on the field the live on the</a></h4>
                                    <div class="post-date">September 4, 2019</div>
                                </div>
                            </div>
                            <div class="single-list-post">
                                <div class="list-post-img">
                                    <a href="#"><img src="~/Public/images/post/6.jpg" alt=""></a>
                                </div>
                                <div class="list-post-content">
                                    <a href="#" class="cl-green">Athletes</a>
                                    <h4><a href="#">See the live on the field the live on the</a></h4>
                                    <div class="post-date">September 4, 2019</div>
                                </div>
                            </div>
                            <div class="single-list-post">
                                <div class="list-post-img">
                                    <a href="#"><img src="~/Public/images/post/7.jpg" alt=""></a>
                                </div>
                                <div class="list-post-content">
                                    <a href="#" class="cl-primary">Athletes</a>
                                    <h4><a href="#">See the live on the field the live on the</a></h4>
                                    <div class="post-date">September 4, 2019</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row mb-30">
                    <div class="col-xl-12">
                        <div class="ads">
                            <a href="#"><img src="~/Public/images/ads728.jpg" alt=""></a>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xl-12">
                        <div class="section-title">
                            <h2><a href="#">Politics</a></h2>
                            <ul>
                                <li><a class="active" href="#">International</a></li>
                                <li><a href="#">Local</a></li>
                                <li><a href="#">Others</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                        <div class="single-post-2">
                            <a href="#">
                                <img src="~/Public/images/post/7.jpg" alt="">
                                <i class="fa fa-play"></i>
                            </a>
                            <div class="post-inside-content">
                                <h2><a href="#">Impressive business got raised</a></h2>
                                <div class="post-meta">
                                    <a href="#" class="author">Ridoy</a>
                                    <a href="#" class="date">September 4, 2019</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                        <div class="single-post-2">
                            <a href="#">
                                <img src="~/Public/images/post/3.jpg" alt="">
                                <i class="fa fa-play"></i>
                            </a>
                            <div class="post-inside-content">
                                <h2><a href="#">Impressive business got raised</a></h2>
                                <div class="post-meta">
                                    <a href="#" class="author">Ridoy</a>
                                    <a href="#" class="date">September 4, 2019</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xl-12">
                        <div class="section-title">
                            <h2><a href="#">Most Views</a></h2>
                        </div>
                    </div>
                </div>
                <div class="post-carousel owl-carousel">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="row single-post-2">
                                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                                    <a href="#"><img src="~/Public/images/post/8.jpg" alt=""></a>
                                </div>
                                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                                    <div class="post-inside-content">
                                        <div class="category-tag"><a href="#" class="primary-bg">Sports</a></div>
                                        <h2><a href="#">Impressive business got raised</a></h2>
                                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cumque incidunt blanditiis non culpa accusantium quia corrupti</p>
                                        <div class="post-meta">
                                            <a href="#" class="author">Ridoy</a>
                                            <a href="#" class="date">September 4, 2019</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="row single-post-2">
                                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
                                    <a href="#"><img src="~/Public/images/post/2.jpg" alt=""></a>
                                </div>
                                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
                                    <div class="post-inside-content">
                                        <div class="category-tag"><a href="#" class="green-bg">Sports</a></div>
                                        <h2><a href="#">Impressive business got raised</a></h2>
                                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cumque incidunt blanditiis non culpa accusantium quia corrupti</p>
                                        <div class="post-meta">
                                            <a href="#" class="author">Ridoy</a>
                                            <a href="#" class="date">September 4, 2019</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xl-12">
                        <div class="section-title">
                            <h2><a href="#">More News</a></h2>
                        </div>
                    </div>
                    <div class="col-xl-12">
                        <div class="single-post-3">
                            <div class="list-post-img">
                                <img src="~/Public/images/post/5.jpg" alt="">
                                <a class="tag yellow-bg" href="#">Business</a>
                            </div>
                            <div class="list-post-content">
                                <h4><a href="#">See the live on the field the live on the See the live on</a></h4>
                                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolor harum ullam maiores, quidem autem perferendis</p>
                                <div class="post-date">September 4, 2019</div>
                            </div>
                        </div>
                        <div class="single-post-3">
                            <div class="list-post-img">
                                <img src="~/Public/images/post/7.jpg" alt="">
                                <a class="tag blue-bg" href="#">Athletes</a>
                            </div>
                            <div class="list-post-content">
                                <h4><a href="#">See the live on the field the live on the See the live on</a></h4>
                                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolor harum ullam maiores, quidem autem perferendis</p>
                                <div class="post-date">September 4, 2019</div>
                            </div>
                        </div>
                        <div class="single-post-3">
                            <div class="list-post-img">
                                <img src="~/Public/images/post/9.jpg" alt="">
                                <a class="tag green-bg" href="#">Sports</a>
                            </div>
                            <div class="list-post-content">
                                <h4><a href="#">See the live on the field the live on the See the live on</a></h4>
                                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolor harum ullam maiores, quidem autem perferendis</p>
                                <div class="post-date">September 4, 2019</div>
                            </div>
                        </div>
                        <div class="single-post-3">
                            <div class="list-post-img">
                                <img src="~/Public/images/post/2.jpg" alt="">
                                <a class="tag primary-bg" href="#">nature</a>
                            </div>
                            <div class="list-post-content">
                                <h4><a href="#">See the live on the field the live on the See the live on</a></h4>
                                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolor harum ullam maiores, quidem autem perferendis</p>
                                <div class="post-date">September 4, 2019</div>
                            </div>
                        </div>
                        <div class="single-post-3">
                            <div class="list-post-img">
                                <img src="~/Public/images/post/1.jpg" alt="">
                                <a class="tag mint-bg" href="#">nature</a>
                            </div>
                            <div class="list-post-content">
                                <h4><a href="#">See the live on the field the live on the See the live on</a></h4>
                                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolor harum ullam maiores, quidem autem perferendis</p>
                                <div class="post-date">September 4, 2019</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-12 centered">
                        <a class="bttn-mid btn-emt w-100" href="#">Load more</a>
                    </div>
                </div>

            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6">
                <aside class="site-sidebar">
                    <div class="single-sidebar">
                        <div class="section-title">
                            <h3><a href="#">Categories</a></h3>
                        </div>
                        <div class="site-category">
                            <ul>
                                <li><a href="#">World Politics</a> <span>52</span></li>
                                <li><a href="#">Sports</a> <span>15</span></li>
                                <li><a href="#">Technology</a> <span>48</span></li>
                                <li><a href="#">Science</a> <span>36</span></li>
                                <li><a href="#">History</a> <span>54</span></li>
                                <li><a href="#">Globalization</a> <span>32</span></li>
                                <li><a href="#">Reviews</a> <span>15</span></li>
                                <li><a href="#">artificial intelligence</a> <span>52</span></li>
                                <li><a href="#">Fashion</a> <span>58</span></li>
                                <li><a href="#">Showbiz</a> <span>25</span></li>
                                <li><a href="#">Entertaiment</a> <span>96</span></li>
                            </ul>
                        </div>
                    </div>
                    <div class="single-sidebar">
                        <div class="section-title">
                            <h3><a href="#">Lastest News</a></h3>
                        </div>
                        <div class="sidebar-content">
                            <ul class="nav nav-pills mb-3" id="pills-tab3" role="tablist">
                                <li>
                                    <a class="active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">Sports</a>
                                </li>
                                <li>
                                    <a id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">Fashion</a>
                                </li>
                                <li>
                                    <a id="pills-contact-tab" data-toggle="pill" href="#pills-contact" role="tab" aria-controls="pills-contact" aria-selected="false">News</a>
                                </li>
                            </ul>
                            <div class="tab-content" id="pills-tabContent3">
                                <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
                                    <div class="single-list-post">
                                        <div class="list-post-img">
                                            <a href="#"><img src="~/Public/images/post/9.jpg" alt=""></a>
                                        </div>
                                        <div class="list-post-content">
                                            <a href="#" class="cl-mint">Stadium</a>
                                            <h4><a href="#">See the live on the field the live on the</a></h4>
                                            <div class="post-date">September 4, 2019</div>
                                        </div>
                                    </div>
                                    <div class="single-list-post">
                                        <div class="list-post-img">
                                            <a href="#"><img src="~/Public/images/post/8.jpg" alt=""></a>
                                        </div>
                                        <div class="list-post-content">
                                            <a href="#" class="cl-green">Athletes</a>
                                            <h4><a href="#">See the live on the field the live on the</a></h4>
                                            <div class="post-date">September 4, 2019</div>
                                        </div>
                                    </div>
                                    <div class="single-list-post">
                                        <div class="list-post-img">
                                            <a href="#"><img src="~/Public/images/post/7.jpg" alt=""></a>
                                        </div>
                                        <div class="list-post-content">
                                            <a href="#" class="cl-primary">Football</a>
                                            <h4><a href="#">See the live on the field the live on the</a></h4>
                                            <div class="post-date">September 4, 2019</div>
                                        </div>
                                    </div>
                                    <div class="single-list-post">
                                        <div class="list-post-img">
                                            <a href="#"><img src="~/Public/images/post/6.jpg" alt=""></a>
                                        </div>
                                        <div class="list-post-content">
                                            <a href="#" class="cl-blue">Football</a>
                                            <h4><a href="#">See the live on the field the live on the</a></h4>
                                            <div class="post-date">September 4, 2019</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
                                    <div class="single-list-post">
                                        <div class="list-post-img">
                                            <a href="#"><img src="~/Public/images/post/1.jpg" alt=""></a>
                                        </div>
                                        <div class="list-post-content">
                                            <a href="#" class="cl-green">Model</a>
                                            <h4><a href="#">See the live on the field the live on the</a></h4>
                                            <div class="post-date">September 4, 2019</div>
                                        </div>
                                    </div>
                                    <div class="single-list-post">
                                        <div class="list-post-img">
                                            <a href="#"><img src="~/Public/images/post/2.jpg" alt=""></a>
                                        </div>
                                        <div class="list-post-content">
                                            <a href="#" class="cl-mint">Dresses</a>
                                            <h4><a href="#">See the live on the field the live on the</a></h4>
                                            <div class="post-date">September 4, 2019</div>
                                        </div>
                                    </div>
                                    <div class="single-list-post">
                                        <div class="list-post-img">
                                            <a href="#"><img src="~/Public/images/post/3.jpg" alt=""></a>
                                        </div>
                                        <div class="list-post-content">
                                            <a href="#" class="cl-blue">Fashion</a>
                                            <h4><a href="#">See the live on the field the live on the</a></h4>
                                            <div class="post-date">September 4, 2019</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">
                                    <div class="single-list-post">
                                        <div class="list-post-img">
                                            <a href="#"><img src="~/Public/images/post/4.jpg" alt=""></a>
                                        </div>
                                        <div class="list-post-content">
                                            <a href="#" class="cl-mint">International</a>
                                            <h4><a href="#">See the live on the field the live on the</a></h4>
                                            <div class="post-date">September 4, 2019</div>
                                        </div>
                                    </div>
                                    <div class="single-list-post">
                                        <div class="list-post-img">
                                            <a href="#"><img src="~/Public/images/post/5.jpg" alt=""></a>
                                        </div>
                                        <div class="list-post-content">
                                            <a href="#" class="cl-primary">Politics</a>
                                            <h4><a href="#">See the live on the field the live on the</a></h4>
                                            <div class="post-date">September 4, 2019</div>
                                        </div>
                                    </div>
                                    <div class="single-list-post">
                                        <div class="list-post-img">
                                            <a href="#"><img src="~/Public/images/post/6.jpg" alt=""></a>
                                        </div>
                                        <div class="list-post-content">
                                            <a href="#" class="cl-blue">Near by</a>
                                            <h4><a href="#">See the live on the field the live on the</a></h4>
                                            <div class="post-date">September 4, 2019</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="single-sidebar">
                        <div class="section-title">
                            <h3>Social Followers</h3>
                        </div>
                        <div class="sidebar-content">
                            <div class="sidebar-social">
                                <a href="#" class="facebook-bg"><i class="fa fa-facebook"></i>Facebook<span>4.3M</span></a>
                                <a href="#" class="twitter-bg"><i class="fa fa-twitter"></i>Twitter<span>3.2M</span></a>
                                <a href="#" class="instagram-bg"><i class="fa fa-instagram"></i>instagram<span>4.9M</span></a>
                                <a href="#" class="linkedin-bg"><i class="fa fa-linkedin"></i>linkedin<span>1.3M</span></a>
                            </div>
                        </div>
                    </div>
                    <div class="single-sidebar">
                        <div class="section-title">
                            <h3><a href="#">News</a></h3>
                        </div>
                        <div class="sidebar-content">
                            <ul class="nav nav-pills mb-3" id="pills-tab2" role="tablist">
                                <li>
                                    <a class="active" id="popular-tab" data-toggle="pill" href="#popular" role="tab" aria-controls="popular" aria-selected="true">Popular</a>
                                </li>
                                <li>
                                    <a id="recent-tab" data-toggle="pill" href="#recent" role="tab" aria-controls="recent" aria-selected="false">Recent</a>
                                </li>
                            </ul>
                            <div class="tab-content" id="pills-tabContent2">
                                <div class="tab-pane fade show active" id="popular" role="tabpanel" aria-labelledby="popular-tab">
                                    <div class="single-list-post">
                                        <div class="list-post-img">
                                            <a href="#"><img src="~/Public/images/post/9.jpg" alt=""></a>
                                        </div>
                                        <div class="list-post-content">
                                            <a href="#">Athletes</a>
                                            <h4><a href="#">See the live on the field the live on the</a></h4>
                                            <div class="post-date">September 4, 2019</div>
                                        </div>
                                    </div>
                                    <div class="single-list-post">
                                        <div class="list-post-img">
                                            <a href="#"><img src="~/Public/images/post/8.jpg" alt=""></a>
                                        </div>
                                        <div class="list-post-content">
                                            <a href="#">Athletes</a>
                                            <h4><a href="#">See the live on the field the live on the</a></h4>
                                            <div class="post-date">September 4, 2019</div>
                                        </div>
                                    </div>
                                    <div class="single-list-post">
                                        <div class="list-post-img">
                                            <a href="#"><img src="~/Public/images/post/7.jpg" alt=""></a>
                                        </div>
                                        <div class="list-post-content">
                                            <a href="#">Athletes</a>
                                            <h4><a href="#">See the live on the field the live on the</a></h4>
                                            <div class="post-date">September 4, 2019</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="recent" role="tabpanel" aria-labelledby="recent-tab">
                                    <div class="single-list-post">
                                        <div class="list-post-img">
                                            <a href="#"><img src="~/Public/images/post/1.jpg" alt=""></a>
                                        </div>
                                        <div class="list-post-content">
                                            <a href="#">Athletes</a>
                                            <h4><a href="#">See the live on the field the live on the</a></h4>
                                            <div class="post-date">September 4, 2019</div>
                                        </div>
                                    </div>
                                    <div class="single-list-post">
                                        <div class="list-post-img">
                                            <a href="#"><img src="~/Public/images/post/2.jpg" alt=""></a>
                                        </div>
                                        <div class="list-post-content">
                                            <a href="#">Athletes</a>
                                            <h4><a href="#">See the live on the field the live on the</a></h4>
                                            <div class="post-date">September 4, 2019</div>
                                        </div>
                                    </div>
                                    <div class="single-list-post">
                                        <div class="list-post-img">
                                            <a href="#"><img src="~/Public/images/post/3.jpg" alt=""></a>
                                        </div>
                                        <div class="list-post-content">
                                            <a href="#">Athletes</a>
                                            <h4><a href="#">See the live on the field the live on the</a></h4>
                                            <div class="post-date">September 4, 2019</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="single-sidebar">
                        <div class="section-title">
                            <h3>instagram feed</h3>
                        </div>
                        <div class="sidebar-content">
                            <div class="row instagram-feed">
                                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">
                                    <a href="#"><img src="~/Public/images/instagram/1.jpg" alt=""></a>
                                </div>
                                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">
                                    <a href="#"><img src="~/Public/images/instagram/2.jpg" alt=""></a>
                                </div>
                                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">
                                    <a href="#"><img src="~/Public/images/instagram/3.jpg" alt=""></a>
                                </div>
                                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">
                                    <a href="#"><img src="~/Public/images/instagram/4.jpg" alt=""></a>
                                </div>
                                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">
                                    <a href="#"><img src="~/Public/images/instagram/5.jpg" alt=""></a>
                                </div>
                                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">
                                    <a href="#"><img src="~/Public/images/instagram/6.jpg" alt=""></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="newslatter">
                        <i class="fa fa-paper-plane-o"></i>
                        <h3>Get more update</h3>
                        <h5>Subscribe to our mailing list to get the new updates!</h5>
                        <form action="#">
                            <input type="email" placeholder="Enter your email" required>
                            <button type="submit" class="bttn-mid btn-fill">Subscribe</button>
                        </form>
                        <p>We won't send you spam</p>
                    </div>
                </aside>
            </div>
        </div>
    </div>
</section><!--/Content Section-->
<!--Full Content Section-->
<section class="section-padding-2 gray-bg">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="full-carousel owl-carousel">
                    <div class="single-post">
                        <a href="#"><img src="~/Public/images/post/5.jpg" alt=""></a>
                        <div class="post-inside-content">
                            <div class="category-tag"><a href="#" class="primary-bg">Business</a></div>
                            <h2><a href="#">Impressive business got raised</a></h2>
                            <div class="post-meta">
                                <a href="#" class="author">Ridoy</a>
                                <a href="#" class="date">September 4, 2019</a>
                            </div>
                        </div>
                    </div>
                    <div class="single-post">
                        <a href="#"><img src="~/Public/images/post/4.jpg" alt=""></a>
                        <div class="post-inside-content">
                            <div class="category-tag"><a href="#" class="yellow-bg">World Politics</a></div>
                            <h2><a href="#">Impressive business got raised</a></h2>
                            <div class="post-meta">
                                <a href="#" class="author">Ridoy</a>
                                <a href="#" class="date">September 4, 2019</a>
                            </div>
                        </div>
                    </div>
                    <div class="single-post">
                        <a href="#"><img src="~/Public/images/post/3.jpg" alt=""></a>
                        <div class="post-inside-content">
                            <div class="category-tag"><a href="#" class="mint-bg">Entertaiment</a></div>
                            <h2><a href="#">Impressive business got raised</a></h2>
                            <div class="post-meta">
                                <a href="#" class="author">Ridoy</a>
                                <a href="#" class="date">September 4, 2019</a>
                            </div>
                        </div>
                    </div>
                    <div class="single-post">
                        <a href="#"><img src="~/Public/images/post/2.jpg" alt=""></a>
                        <div class="post-inside-content">
                            <div class="category-tag"><a href="#" class="blue-bg">Entertaiment</a></div>
                            <h2><a href="#">Impressive business got raised</a></h2>
                            <div class="post-meta">
                                <a href="#" class="author">Ridoy</a>
                                <a href="#" class="date">September 4, 2019</a>
                            </div>
                        </div>
                    </div>
                    <div class="single-post">
                        <a href="#"><img src="~/Public/images/post/1.jpg" alt=""></a>
                        <div class="post-inside-content">
                            <div class="category-tag"><a href="#" class="green-bg">Science</a></div>
                            <h2><a href="#">Impressive business got raised</a></h2>
                            <div class="post-meta">
                                <a href="#" class="author">Ridoy</a>
                                <a href="#" class="date">September 4, 2019</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section><!--/Full Content Section-->
<!--Content Section-->
<section class="section-padding-2">
    <div class="container">
        <div class="row">
            <div class="col-xl-4">
                <div class="site-sidebar">
                    <div class="single-sidebar">
                        <div class="section-title">
                            <h3><a href="#">Quick link</a></h3>
                        </div>
                        <div class="single-quick-link">
                            <div class="category-tag">
                                <a href="#" class="cl-green">Sports</a>
                            </div>
                            <h4><a href="#">Let's start playing football togather in that field It is a long established fact</a></h4>
                        </div>
                        <div class="single-quick-link">
                            <div class="category-tag">
                                <a href="#" class="cl-mint">Technology</a>
                            </div>
                            <h4><a href="#">Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</a></h4>
                        </div>
                        <div class="single-quick-link">
                            <div class="category-tag">
                                <a href="#" class="cl-blue">Politics</a>
                            </div>
                            <h4><a href="#">There are many variations of passages of Lorem Ipsum available</a></h4>
                        </div>
                        <div class="single-quick-link">
                            <div class="category-tag">
                                <a href="#" class="cl-primary">Entertaiment</a>
                            </div>
                            <h4><a href="#">If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't</a></h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4">
                <div class="thumbnail-post" style="background: url('assets/images/post/3.jpg') no-repeat center / cover;">
                    <div class="category-tag">
                        <a href="#" class="cl-yellow">Nature</a>
                    </div>
                    <h3><a href="#">If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't</a></h3>
                </div>
                <div class="thumbnail-post" style="background: url('assets/images/post/10.jpg') no-repeat center / cover;">
                    <div class="category-tag">
                        <a href="#" class="cl-mint">Entertainment</a>
                    </div>
                    <h3><a href="#">If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't</a></h3>
                </div>
                <div class="thumbnail-post" style="background: url('assets/images/post/7.jpg') no-repeat center / cover;">
                    <div class="category-tag">
                        <a href="#" class="cl-green">Sports</a>
                    </div>
                    <h3><a href="#">If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't</a></h3>
                </div>
            </div>
            <div class="col-xl-4">
                <div class="thumbnail-post" style="background: url('assets/images/post/11.jpg') no-repeat center / cover;">
                    <div class="category-tag">
                        <a href="#" class="cl-blue-2">Entertainment</a>
                    </div>
                    <h3><a href="#">If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't</a></h3>
                </div>
                <div class="thumbnail-post" style="background: url('assets/images/post/12.jpg') no-repeat center / cover;">
                    <div class="category-tag">
                        <a href="#" class="cl-white">Science</a>
                    </div>
                    <h3><a href="#">If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't</a></h3>
                </div>
                <div class="thumbnail-post" style="background: url('assets/images/post/13.jpg') no-repeat center / cover;">
                    <div class="category-tag">
                        <a href="#" class="cl-yellow">Technology</a>
                    </div>
                    <h3><a href="#">If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't</a></h3>
                </div>
            </div>
        </div>
      @{ 
          Html.RenderPartial("~/Views/Shared/_Slider.cshtml");
      }
    </div>
</section><!--/Content Section-->
