
@{
    ViewBag.Title = "Index";
}

<!--Breadcrumb-->
<section class="breadcrumb-section gray-bg-2">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="row">
                    <div class="col-xl-2 col-lg-2 col-md-4 col-sm-12">
                        <div class="date blue-bg"><a href="#"><span>02</span><span>June</span></a></div>
                    </div>
                    <div class="col-xl-10 col-lg-10 col-md-8 col-sm-12">
                        <div class="category-tag">
                            <a href="#" class="blue-bg-2">Travel</a>
                        </div>
                        <div class="banner-title">
                            <h2>Involved in travelling to get more special life to alive</h2>
                        </div>
                        <div class="meta">
                            <a href="#"><img src="~/Public/images/author.png" alt="">Ridoy rajoan</a>
                            <a href="#"><i class="fa fa-eye"></i>4658</a>
                            <a href="#"><i class="fa fa-share-alt"></i>325</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section><!--/Breadcrumb-->
<!--Content Section-->
<section class="section-padding-2">
    <div class="container">
        <div class="row">
            <div class="col-xl-8 col-lg-8 col-md-8 col-sm-12">
                <div class="post-details">
                    <div class="row">
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                            <div class="post-img">
                                <a href="~/Public/images/category/travel/3.jpg" class="popup-img"><img src="~/Public/images/category/travel/3.jpg" alt=""></a>
                                <p>This is final match of Rex cup 2019</p>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12">
                            <a href="~/Public/images/category/travel/4.jpg" class="popup-img"><img src="~/Public/images/category/travel/4.jpg" alt=""></a>
                            <a href="~/Public/images/category/travel/1.jpg" class="popup-img"><img src="~/Public/images/category/travel/1.jpg" alt=""></a>
                        </div>
                        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12">
                            <a href="~/Public/images/category/travel/5.jpg" class="popup-img"><img src="~/Public/images/category/travel/5.jpg" alt=""></a>
                            <a href="~/Public/images/category/travel/6.jpg" class="popup-img"><img src="~/Public/images/category/travel/6.jpg" alt=""></a>
                        </div>
                    </div>
                    <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which predefined chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words, combined with a handful</p>
                    <p>Eveniet eius incidunt, molestiae vero quisquam reiciendis cumque placeat corporis asperiores suscipit quam ut rerum similique</p>
                    <div class="post-img">
                        <img src="~/Public/images/category/travel/1.jpg" alt="">
                        <p>This is final match of Rex cup 2019</p>
                    </div>
                    <p>Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in their exact original form, accompanied by English Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from</p>
                    <p>Eveniet eius incidunt, molestiae vero quisquam reiciendis cumque placeat corporis asperiores suscipit quam ut rerum similique</p>
                    <div class="ads">
                        <a href="#"><img src="~/Public/images/ads728.jpg" alt=""></a>
                    </div>
                    <blockquote>
                        <p>Nam facilisis finibus nibh nec bibendum. Morbi eu neque rhoncus, placerat purus eget, aliquet ex. Mauris ligula ipsum, dictum et consequat non, molestie et nisi. Cras eu sapien velit</p>
                    </blockquote>
                    <p>Eveniet eius incidunt, molestiae vero quisquam reiciendis cumque placeat corporis asperiores suscipit quam ut rerum similique</p>
                    <p>In sagittis turpis non eros convallis, a rutrum lorem facilisis. Nullam interdum mi eu sem convallis tincidunt. Pellentesque pellentesque mi vel felis eleifend ornare. Etiam tincidunt id quam at rutrum. Maecenas blandit tincidunt congue. In finibus, sapien ut pharetra pulvinar, libero quam hendrerit mauris, vel dictum ipsum ex ut mi</p>
                    <h4>Here is the best place to start</h4>
                    <div class="row">
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                            <div class="post-img">
                                <a href="~/Public/images/category/travel/2.jpg" class="popup-img"><img src="~/Public/images/category/travel/2.jpg" alt=""></a>
                                <p>This is final match of Rex cup 2019</p>
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                            <div class="post-img">
                                <a href="~/Public/images/category/travel/5.jpg" class="popup-img"><img src="~/Public/images/category/travel/5.jpg" alt=""></a>
                                <p>This is final match of Rex cup 2019</p>
                            </div>
                        </div>
                    </div>
                    <p>Nulla vel nibh aliquet, maximus erat at, porttitor ex. Nam facilisis finibus nibh nec bibendum. Morbi eu neque rhoncus, placerat purus eget, aliquet ex. Mauris ligula ipsum, dictum et consequat non, molestie et nisi. Cras eu sapien velit. Morbi urna sapien, cursus eget maximus at, fringilla vitae justo. Aliquam tincidunt finibus tempus. Fusce commodo sapien orci, ut rhoncus arcu lobortis vel.</p>
                    <p>Aenean imperdiet euismod sem eget tincidunt. Interdum et malesuada fames ac ante ipsum primis in faucibus. Ut porta sed nulla eget ultrices</p>
                    <p>Duis sit amet felis nec neque convallis tristique vel tempor nibh. Duis urna nibh, aliquam sed mauris id, porta mollis ex. Maecenas sed nulla nec lorem aliquet consequat sit amet in tortor. Vestibulum at arcu viverra, efficitur velit at, vestibulum quam</p>
                    <h4>How we started the project in a short time</h4>
                    <p>Nulla vel nibh aliquet, maximus erat at, porttitor ex. Nam facilisis finibus nibh nec bibendum. Morbi eu neque rhoncus, placerat purus eget, aliquet ex. Mauris ligula ipsum, dictum et consequat non, molestie et nisi. Cras eu sapien velit. Morbi urna sapien, cursus eget maximus at, fringilla vitae justo. Aliquam tincidunt finibus tempus. Fusce commodo sapien orci, ut rhoncus arcu lobortis vel.</p>
                    <p>Aenean imperdiet euismod sem eget tincidunt. Interdum et malesuada fames ac ante ipsum primis in faucibus. Ut porta sed nulla eget ultrices</p>
                    <p>Duis sit amet felis nec neque convallis tristique vel tempor nibh. Duis urna nibh, aliquam sed mauris id, porta mollis ex. Maecenas sed nulla nec lorem aliquet consequat sit amet in tortor. Vestibulum at arcu viverra, efficitur velit at, vestibulum quam</p>
                    <iframe height="400" src="https://www.youtube.com/embed/t7KFEOiBO6k" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    <p>Aenean imperdiet euismod sem eget tincidunt. Interdum et malesuada fames ac ante ipsum primis in faucibus. Ut porta sed nulla eget ultrices</p>
                    <p>Duis sit amet felis nec neque convallis tristique vel tempor nibh. Duis urna nibh, aliquam sed mauris id, porta mollis ex. Maecenas sed nulla nec lorem aliquet consequat sit amet in tortor. Vestibulum at arcu viverra, efficitur velit at, vestibulum quam</p>
                    <p>Nulla vel nibh aliquet, maximus erat at, porttitor ex. Nam facilisis finibus nibh nec bibendum. Morbi eu neque rhoncus, placerat purus eget, aliquet ex. Mauris ligula ipsum, dictum et consequat non, molestie et nisi. Cras eu sapien velit. Morbi urna sapien, cursus eget maximus at, fringilla vitae justo. Aliquam tincidunt finibus tempus. Fusce commodo sapien orci, ut rhoncus arcu lobortis vel.</p>
                    <div class="row">
                        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6">
                            <div class="post-img">
                                <a href="~/Public/images/category/travel/8.jpg" class="popup-img"><img src="~/Public/images/category/travel/8.jpg" alt=""></a>
                                <p>This is final match of Rex cup 2019</p>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6">
                            <div class="post-img">
                                <a href="~/Public/images/category/travel/7.jpg" class="popup-img"><img src="~/Public/images/category/travel/7.jpg" alt=""></a>
                                <p>This is final match of Rex cup 2019</p>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6">
                            <div class="post-img">
                                <a href="~/Public/images/category/travel/6.jpg" class="popup-img"><img src="~/Public/images/category/travel/6.jpg" alt=""></a>
                                <p>This is final match of Rex cup 2019</p>
                            </div>
                        </div>
                    </div>
                    <p>Nulla vel nibh aliquet, maximus erat at, porttitor ex. Nam facilisis finibus nibh nec bibendum. Morbi eu neque rhoncus, placerat purus eget, aliquet ex. Mauris ligula ipsum, dictum et consequat non, molestie et nisi. Cras eu sapien velit. Morbi urna sapien, cursus eget maximus at, fringilla vitae justo. Aliquam tincidunt finibus tempus. Fusce commodo sapien orci, ut rhoncus arcu lobortis vel. dictum et consequat non, molestie et nisi. Cras eu sapien velit. Morbi urna sapien, cursus eget maximus at, fringilla vitae justo. Aliquam tincidunt finibus tempus. Fusce commodo sapien orci, ut rhoncus arcu lobortis vel.</p>
                    <p>Aenean imperdiet euismod sem eget tincidunt. Interdum et malesuada fames ac ante ipsum primis in faucibus. Ut porta sed nulla eget ultrices</p>
                    <blockquote>
                        <p>Nam facilisis finibus nibh nec bibendum. Morbi eu neque rhoncus, placerat purus eget, aliquet ex. Mauris ligula ipsum, dictum et consequat non, molestie et nisi. Cras eu sapien velit</p>
                    </blockquote>
                    <div style="padding:56.25% 0 0 0;position:relative; margin-bottom: 30px;"><iframe src="https://player.vimeo.com/video/120757161?color=ffffff&amp;title=0&amp;byline=0&amp;portrait=0" style="position:absolute;top:0;left:0;width:100%;height:100%;" allow="autoplay; fullscreen" allowfullscreen></iframe></div>
                    <script src="../../player.vimeo.com/api/player.js"></script>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores quia ea est rerum repellat laboriosam sit obcaecati fuga dolores perspiciatis, incidunt amet veritatis sint error tenetur aliquam pariatur. Exercitationem, neque. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Officia nemo, praesentium ullam illo impedit perferendis consequatur quibusdam provident. Tenetur sit adipisci excepturi expedita nam repudiandae ullam atque unde esse dolorum?</p>
                    <p>Aenean imperdiet euismod sem eget tincidunt. Interdum et malesuada fames ac ante ipsum primis in faucibus. Ut porta sed nulla eget ultrices</p>
                    <h4>Check out the list of our contents</h4>
                    <ul>
                        <li>Interdum et malesuada fames ac ante ipsum primis in faucibus. Ut porta sed nulla eget ultrices</li>
                        <li>Mauris ligula ipsum, dictum et consequat non, molestie et nisi. Cras eu sapien velit. Morbi urna sapien, cursus eget maximus at, fringilla vitae justo</li>
                        <li>Duis sit amet felis nec neque convallis tristique vel tempor nibh. Duis urna nibh, aliquam sed mauris id, porta mollis ex. Maecenas sed nulla nec</li>
                        <li>Duis urna nibh, aliquam sed mauris id, porta mollis ex. Maecenas sed nulla nec lorem aliquet consequat sit amet</li>
                        <li>Nulla vel nibh aliquet, maximus erat at, porttitor ex. Nam facilisis finibus nibh nec bibendum</li>
                        <li>Morbi urna sapien, cursus eget maximus at, fringilla vitae justo. Aliquam tincidunt finibus tempus. Fusce commodo sapien orci, ut</li>
                        <li>Maecenas sed nulla nec lorem aliquet consequat sit amet in tortor. Vestibulum at arcu viverra</li>
                    </ul>
                    <iframe height="166" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/679809245&amp;color=%23ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;show_teaser=true"></iframe>
                    <p>Nulla vel nibh aliquet, maximus erat at, porttitor ex. Nam facilisis finibus nibh nec bibendum. Morbi eu neque rhoncus, placerat purus eget, aliquet ex. Mauris ligula ipsum, dictum et consequat non, molestie et nisi. Cras eu sapien velit. Morbi urna sapien, cursus eget maximus at, fringilla vitae justo. Aliquam tincidunt finibus tempus. Fusce commodo sapien orci, ut rhoncus arcu lobortis vel.</p>
                    <p>Aenean imperdiet euismod sem eget tincidunt. Interdum et malesuada fames ac ante ipsum primis in faucibus. Ut porta sed nulla eget ultrices</p>
                    <p>Duis sit amet felis nec neque convallis tristique vel tempor nibh. Duis urna nibh, aliquam sed mauris id, porta mollis ex. Maecenas sed nulla nec lorem aliquet consequat sit amet in tortor. Vestibulum at arcu viverra, efficitur velit at, vestibulum quam</p>
                    <h4>Why you will take a moment for start?</h4>
                    <p>Nulla vel nibh aliquet, maximus erat at, porttitor ex. Nam facilisis finibus nibh nec bibendum. Morbi eu neque rhoncus, placerat purus eget, aliquet ex. Mauris ligula ipsum, dictum et consequat non, molestie et nisi. Cras eu sapien velit. Morbi urna sapien, cursus eget maximus at, fringilla vitae justo. Aliquam tincidunt finibus tempus. Fusce commodo sapien orci, ut rhoncus arcu lobortis vel.</p>
                    <p>Aenean imperdiet euismod sem eget tincidunt. Interdum et malesuada fames ac ante ipsum primis in faucibus. Ut porta sed nulla eget ultrices</p>
                    <h4>Things you will do most</h4>
                    <p>Sem eget tincidunt Aenean imperdiet euismod. Interdum et malesuada fames ac ante ipsum primis in faucibus. Ut porta sed nulla eget ultrices</p>
                    <p>Porttitor ex. Nam facilisis Nulla vel nibh aliquet, maximus erat at,  finibus nibh nec bibendum. Morbi eu neque rhoncus, placerat purus eget, aliquet ex. Mauris ligula ipsum, dictum et consequat non, molestie et nisi. Cras eu sapien velit. Morbi urna sapien, cursus eget maximus at, fringilla vitae justo. Aliquam tincidunt finibus tempus. Fusce commodo sapien orci, ut rhoncus arcu lobortis vel.</p>
                    <ul>
                        <li>Interdum et malesuada fames ac ante ipsum primis in faucibus. Ut porta sed nulla eget ultrices</li>
                        <li>Mauris ligula ipsum, dictum et consequat non, molestie et nisi. Cras eu sapien velit. Morbi urna sapien, cursus eget maximus at, fringilla vitae justo</li>
                        <li>Duis sit amet felis nec neque convallis tristique vel tempor nibh. Duis urna nibh, aliquam sed mauris id, porta mollis ex. Maecenas sed nulla nec</li>
                        <li>Duis urna nibh, aliquam sed mauris id, porta mollis ex. Maecenas sed nulla nec lorem aliquet consequat sit amet</li>
                        <li>Nulla vel nibh aliquet, maximus erat at, porttitor ex. Nam facilisis finibus nibh nec bibendum</li>
                        <li>Morbi urna sapien, cursus eget maximus at, fringilla vitae justo. Aliquam tincidunt finibus tempus. Fusce commodo sapien orci, ut</li>
                        <li>Maecenas sed nulla nec lorem aliquet consequat sit amet in tortor. Vestibulum at arcu viverra</li>
                    </ul>
                    <div class="share">
                        <span>Share:</span>
                        <a href="#" class="facebook-bg"><i class="fa fa-facebook"></i>1.3K+</a>
                        <a href="#" class="twitter-bg"><i class="fa fa-twitter"></i>2.5K+</a>
                        <a href="#" class="linkedin-bg"><i class="fa fa-linkedin"></i>1.1K+</a>
                        <a href="#" class="instagram-bg"><i class="fa fa-instagram"></i>3.3K+</a>
                    </div>
                    <div class="author">
                        <div class="row">
                            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3">
                                <a href="#">
                                    <img src="~/Public/images/author.png" alt="">
                                </a>
                            </div>
                            <div class="col-xl-9 col-lg-9 col-md-9 col-sm-9">
                                <h3><a href="#">Ridoy Rajoan</a></h3>
                                <p>Morbi urna sapien, cursus eget maximus at, fringilla vitae justo. Aliquam tincidunt finibus tempus. Fusce commodo sapien orci, ut</p>
                                <div class="social">
                                    <a href="#" class="facebook-bg"><i class="fa fa-facebook"></i></a>
                                    <a href="#" class="twitter-bg"><i class="fa fa-twitter"></i></a>
                                    <a href="#" class="instagram-bg"><i class="fa fa-instagram"></i></a>
                                    <a href="#" class="pinterest-bg"><i class="fa fa-pinterest-p"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="related-post mb-50">
                        <h4>Related Post</h4>
                        <div class="row">
                            <div class="col-xl-5">
                                <div class="single-post">
                                    <a href="#"><img src="~/Public/images/post/5.jpg" alt=""></a>
                                    <div class="post-inside-content">
                                        <div class="category-tag"><a href="#" class="mint-bg">News</a></div>
                                        <h2><a href="#">Impressive business got raised</a></h2>
                                        <div class="post-meta">
                                            <a href="#" class="date">September 4, 2019</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-5 offset-xl-2">
                                <div class="single-post">
                                    <a href="#"><img src="~/Public/images/post/7.jpg" alt=""></a>
                                    <div class="post-inside-content">
                                        <div class="category-tag"><a href="#" class="yellow-bg">Sports</a></div>
                                        <h2><a href="#">Impressive business got raised</a></h2>
                                        <div class="post-meta">
                                            <a href="#" class="date">September 4, 2019</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="posted-comments">
                        <h4>All Comments</h4>
                        <div class="comment-block">
                            <div class="single-comment">
                                <div class="row">
                                    <div class="col-xl-2 col-lg-2 col-md-3 col-sm-3">
                                        <a href="#">
                                            <img src="~/Public/images/commenter1.png" alt="">
                                        </a>
                                    </div>
                                    <div class="col-xl-10 col-lg-10 col-md-9 col-sm-9">
                                        <h3><a href="#">Mark Don</a></h3>
                                        <p>Morbi urna sapien, cursus eget maximus at, fringilla vitae justo. Aliquam tincidunt finibus tempus. Fusce commodo sapien orci, ut</p>
                                        <div class="reply"><a href="#">Reply</a></div>
                                    </div>
                                </div>
                            </div>
                            <div class="single-comment">
                                <div class="row">
                                    <div class="col-xl-2 col-lg-2 col-md-3 col-sm-3">
                                        <a href="#">
                                            <img src="~/Public/images/commenter2.png" alt="">
                                        </a>
                                    </div>
                                    <div class="col-xl-10 col-lg-10 col-md-9 col-sm-9">
                                        <h3><a href="#">Thomas pall</a></h3>
                                        <p>Morbi urna sapien, cursus eget maximus at, fringilla vitae justo. Aliquam tincidunt finibus tempus. Fusce commodo sapien orci, ut</p>
                                        <div class="reply"><a href="#">Reply</a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="comment-block">
                            <div class="single-comment">
                                <div class="row">
                                    <div class="col-xl-2 col-lg-2 col-md-3 col-sm-3">
                                        <a href="#">
                                            <img src="~/Public/images/commenter3.png" alt="">
                                        </a>
                                    </div>
                                    <div class="col-xl-10 col-lg-10 col-md-9 col-sm-9">
                                        <h3><a href="#">Alen rob</a></h3>
                                        <p>Morbi urna sapien, cursus eget maximus at, fringilla vitae justo. Aliquam tincidunt finibus tempus. Fusce commodo sapien orci, ut</p>
                                        <div class="reply"><a href="#">Reply</a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="comment-form">
                        <h4>Leave your comment</h4>
                        <form action="#" class="row">
                            <div class="col-xl-4">
                                <input type="text" placeholder="Name*" required>
                            </div>
                            <div class="col-xl-4">
                                <input type="email" placeholder="Email*" required>
                            </div>
                            <div class="col-xl-4">
                                <input type="url" placeholder="Website">
                            </div>
                            <div class="col-xl-12">
                                <textarea name="meg" rows="5" placeholder="Your comment"></textarea>
                            </div>
                            <div class="col-xl-4">
                                <button type="submit" class="bttn-mid btn-fill">Post Comment</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6">
                <aside class="site-sidebar">
                    @{
                        Html.RenderPartial("~/Views/Shared/_QuikLink.cshtml");
                    }
                    @{
                        Html.RenderPartial("~/Views/Shared/_Lastest.cshtml");
                    }
                    @{
                        Html.RenderPartial("~/Views/Shared/_Categories.cshtml");
                    }
                </aside>
            </div>
        </div>
    </div>
</section><!--/Content Section-->
