@model List<Gallery>
@{
    ViewBag.Title = "Index";
}

<!--Breadcrumb-->
<section class="breadcrumb-section gray-bg-2">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="row">
                    <div class="col-xl-2 col-lg-2 col-md-4 col-sm-12">
                        <div class="date blue-bg"><a href="#"><span>02</span><span>June</span></a></div>
                    </div>
                    <div class="col-xl-10 col-lg-10 col-md-8 col-sm-12">
                        <div class="category-tag">
                            <a href="#" class="blue-bg-2">Travel</a>
                        </div>
                        <div class="banner-title">
                            <h2>Involved in travelling to get more special life to alive</h2>
                        </div>
                        <div class="meta">
                            <a href="#"><img src="~/Public/images/author.png" alt="">Ridoy rajoan</a>
                            <a href="#"><i class="fa fa-eye"></i>4658</a>
                            <a href="#"><i class="fa fa-share-alt"></i>325</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section><!--/Breadcrumb-->
<!--Content Section-->
<section class="section-padding-2">
    <div class="container">
        <div class="row">
            <div class="col-xl-8 col-lg-8 col-md-8 col-sm-12">
                <div class="row">
                    @foreach (var item in Model)
                    {
                        <div class="col-xl-6 mb-3">
                            <img src="~/Uploads/post/@item.Photo" alt="Alternate Text" />
                            <p class="font-italic mb-5 text-center">@item.AuthorComment</p>
                        </div>
                    }



                </div>

                </div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6">
                <aside class="site-sidebar">
                    @{
                        Html.RenderPartial("~/Views/Shared/_QuikLink.cshtml");
                    }
                    @{
                        Html.RenderPartial("~/Views/Shared/_Lastest.cshtml");
                    }
                    @{
                        Html.RenderPartial("~/Views/Shared/_Categories.cshtml");
                    }
                </aside>
            </div>
            </div>
            
        </div>
   

</section><!--/Content Section-->

